
    <footer class="site-footer show-data">
			<div class="container">
			  <div class="row">
				<div class="col-md-6">
				  <div class="row">
					<div class="col-md-8">
					  <h2 class="footer-heading mb-4">About Us</h2>
					  <p>For those of us who don’t have time to go through the full length of the write up, let me sum up our aim .</p>
					</div>
					<div class="col-md-4 ml-auto">
					  <h2 class="footer-heading mb-4">Features</h2>
					  <ul class="list-unstyled">
						<li><a href="/what-are-we">Who Are We</a></li>
						<li><a href="/what-is-on-our-cross-wire">What Is On Our Cross Wire</a></li>
						<li><a href="/forth-coming-events">Forth Coming Events</a></li>
						<li><a href="/our-inspirations">Our Inspirations</a></li>
					  </ul>
					</div>
					
				  </div>
				</div>
				<div class="col-md-4 ml-auto">
	  
				  <div class="mb-5">
					<div class="mb-5">
					  <h2 class="footer-heading mb-4">BRIEF PRELUDE</h2>
					  <p>“Everyone must be committed in the matter of peace, to do everything that they can ....Peace is the language we must speak.” — Pope Francis.</p>
					</div>
					<h2 class="footer-heading mb-4">Join Us</h2>
					<form action="#" method="post">
					  <div class="input-group mb-3">
						<input type="text" class="form-control border-secondary text-white bg-transparent" placeholder="Enter Email" aria-label="Enter Email" aria-describedby="button-addon2">
						<div class="input-group-append">
						  <button class="btn btn-primary text-white" type="button" id="button-addon2">Subscribe</button>
						</div>
					  </div>
					</div>
	  
	  
					<h2 class="footer-heading mb-4">Follow Us</h2>
					  <a href="#about-section" class="smoothscroll pl-0 pr-3"><span class="icon-facebook"></span></a>
					  <a href="#" class="pl-3 pr-3"><span class="icon-twitter"></span></a>
					  <a href="#" class="pl-3 pr-3"><span class="icon-instagram"></span></a>
					  <a href="#" class="pl-3 pr-3"><span class="icon-linkedin"></span></a>
				  </form>
				</div>
			  </div>
			  <div class="row pt-5 mt-5 text-center">
				<div class="col-md-12">
				  <div class="border-top pt-5">
				  <p>
				  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
				  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="http://shaiksandhani.in/" target="_blank" >Sandhani Shaik </a>
				  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
				  </p>
				  </div>
				</div>
				
			  </div>
			</div>
		  </footer>