

<div class="container container-adjust">
<div class="row align-items-center position-relative">
    
    
    <div class="site-logo">
        <a href="/" class="text-black"><span class="text-primary">
            <img src="images/logo.png" class="logo" alt="logo">
        </a>
    </div>
        <div class="logo-title text-black"><h3 class="font-logo">Osgans Peace Foundation</h3> </div>
        <nav class="site-navigation text-center ml-auto mg-nagitive" role="navigation">

            <ul class="site-menu main-menu js-clone-nav ml-auto d-none d-lg-block">
                <li><a href="/who-are-we" class="nav-link">Who Are We</a></li>
                <li><a href="/what-is-on-our-cross-wire" class="nav-link">What Is On Our Cross Wire</a></li>
                <li><a href="/forth-coming-events" class="nav-link">ForthComing Events</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Gallery</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown01">
                      <a class="dropdown-item" href="/photo-gallery">Photo Gallery</a>
                      <a class="dropdown-item" href="/video-gallery">Video Gallery</a>
                      <a class="dropdown-item" href="/audio-gallery">Audio Gallery</a>
                    </div>
                  </li>
                <li><a href="/our-inspirations" class="nav-link">Our Inspirations</a></li>
                <li><a href="/join-us" class="nav-link">Join Us</a></li>
                <li><a href="/contact-us" class="nav-link">Contact Us</a></li>
                
            </ul>
        </nav>
    <div class="toggle-button d-inline-block d-lg-none"><a href="#" class="site-menu-toggle py-5 js-menu-toggle text-black"><span class="icon-menu h3"></span></a></div>
</div>
</div>
          
