
<div class="site-section bg-image overlay" style="background-image: url('images/hero_1_no-text.jpg');" id="donate-section">
    <div class="container">
      <div class="row align-items-center justify-content-center">
        <div class="col-lg-10 text-center">
          <h2 class="text-white text-uppercase section-title"  >Become A Member</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="site-section bg-light counter" id="discover-section">
    <div class="container">
      <div class="row mb-5">
        <div class="col-lg-12 mr-auto align-self-center order-lg-1">
          <h3 class="text-black mb-4 text-uppercase text-center">OSGAN  MEMBERS </h3>
          <p >OSGAN PEACE FOUNDATION is seeking Members and Interns, for the 2020 spring semester for a project that involves 

          </p>
          <p>(a)	Research in several areas related to preparation of forthcoming events and initiatives in rural interiors. <br>
            (b)	 Establish contact through internet adopting Social outreach and social media to spread the message to other cities and countries and establish contact with people willing to involve in cultural exchange programs with the aim of understanding and opening up to ideas and views towards bridging man made barriers which have lead to differences or are likely to result in conflict in due course of time. 
          <br>
          (c)	Updating, organizing, and improving the website -	www.osgan.com.  <br>
  

(d)	Playing a lead role in local events, in organizing experiential learning capsule in schools.  <br>
(e)	Participating in organizations activities from time to time in a regular manner depending on one’s ability, willingness and availability of time.  

        </p>
        <h4>Note * 1.</h4>
        <p>This work will involve a complete update of the entire resource sections of the website with new information and better sources (local, state, national, international), with a focus on climate change, sustainability, food, water, waste, transportation, energy, and what individuals can/should do to be more sustainable and have an impact. The goal is to make the resources portions of the website more robust with significant, up-to-date information in an improved organization and layout</p>
        <p>
          The internship is paid, nominally though, with the sole aim of filtering out non serious students, membership is free and members once absorbed in the organization are paid a stipend to begin with and later a meaningful compensation package
        </p> 
        <p>The  profile is consisting of independent work and weekly (at first) or bi-weekly review sessions. The amount of time anticipated is 5 hours per week, but can vary according to the production ability and skill of the candidate. The emphasis is for an excellent completed product rather than set hours. </p> 
        <p>The ideal candidate will be a self-directed college senior or graduate student in a sustainability related field who loves research, is creative, thorough, and oriented to completing a top-notch project. </p>
      </div>
    </div>
  </div>
</div>

<div class="site-section bg-image overlay counter" style="background-image: url('images/voluntourism.jpg');" >
  <div class="container  " id="mission">
    <div class="row align-items-center justify-content-center mb-5">
      <div class="col-lg-10 text-center">
        <h3 class="text-black text-uppercase section-title"  >Osgan Peace Corps  </h3>
      </div>
    </div>
    <div class="row mb-5 ">
      <div class="col-lg-12  col-md-12 align-self-lg-center">
        <!-- <h2 class="text-black mb-4 text-uppercase ">One-Time &amp; Monthly Donations</h2> -->
        <p class="text-black mt-3">  Youth are the building blocks of the world. The role of the youth in the peace - building needs not much explanation . The energy and brightness of minds of youth act as torch-bearer for a peace on earth. Osgan Peace corps aims at providing proper patronage, and a holistic approach towards socially responsible human values in every aspect of their lives like not allow schooling to interfere with their education, greed not influence their pursuit of career and employment, recreational activities for building a healthy spirit of participation and fair play etc </p>
        <p class="text-black"> The youth hopes for a world free of poverty, unemployment, inequality and exploitation of man by man. They want a world free of discrimination on the grounds of race, colour, language and gender. </p>
        <p class="text-black"> The common sense way is loving caring sharing are values to be imbibed cause these are the core towards a peaceful world.
          Osgan Peace corps aims at 
          </p>
        <p class="text-black ml-3"> 
          (a) Taking pride in human touch in every action one takes. <br>
(b) Take part in welfare activities and pride in community service. <br>
(c) Spread awareness among the masses about their rights and responsibilities. <br>
(d) Revive the pride in fair play. <br>
(e) Develop a culture of loving caring and sharing. <br>
(f) Respect and encourage understanding the diversity in others. <br>
(g) Zero discrimination, Zero hate and Zero violence.

        </p>
      </div>
      
    </div>
  </div>
</div>
<div class="container mt-5">
  <div class="row align-items-center justify-content-center mb-5">
    <div class="col-lg-5 text-center mb-5">
      <h2 class="text-black mb-4 ">Join us 

        FILL IN THE FORM BELOW 
        
        </h2>
      <p><a href="https://www.solid-ground.org/get-involved/volunteer/volunteer-application-form/" class="btn btn-primary px-4 py-3 btn-block">Become A Member</a></p>
    </div>
  </div>
</div>
  <%- contentFor('title') %>
  Become A Member