
<div class="site-section bg-image overlay" style="background-image: url('images/hero_1_no-text.jpg');" id="donate-section">
    <div class="container">
      <div class="row align-items-center justify-content-center">
        <div class="col-lg-10 text-center">
          <h2 class="text-white text-uppercase section-title"  >OSGANS PEACE FOUNDATION</h2>
          <h4 class="text-white mb-4"   >  Become A Brand Ambassador </h4>  
        </div>
      </div>
    </div>
  </div>
  <div class="site-section bg-light counter" id="discover-section">
    <div class="container">
      <div class="row mb-5">
        <div class="col-lg-12 mr-auto align-self-center order-lg-1">
          <h3 class="text-black mb-4 text-uppercase text-center">Guidelines for Peace Ambassador activities</h3>
          <p >-		Travel and meet people  to share understand and reach out with the message of peace within and then peace with every body through zero discrimination, zero hate and zero violence, and our signature slogan of Humanism, rather being-ism before every other ism, including religion, cause there is One God and God has no religion and second fighting for peace, is an oxymoron and history is replete with examples that is only and only driven by selfish short term interests of few people or politicians driven by megalomania. </p>
          <p>- 	The Peace Ambassadors will also spread awareness about this being a peoples movement and with the conviction that, we the Osgan Peace Members begin with  carrying our own weather of positive response irrespective of the circumstances, that is acceptance and respect towards the diversity in the life style of the other, of any kind, with the commitment that unpleasant actions of the past cannot be the foundation for the peaceful future that we to our generations to come. The ambassadors encourage people to understand after discussion and debate on the inherent basic true human nature which makes one a loving being, and hence all one needs to revert back to basics of loving caring and sharing, knowing that there is adequate on this earth for everyone/s need. Let us therefore try to not strive only towards our greed at the cost of almost a billion people striving for just a semblance of a single meal a day. The Ambassadors will explain that the only criteria for becoming a member, is to commit to human values of loving, caring and sharing with zero discrimination and further focus on all beings.</p>
        </div>
    </div>
  </div>
</div>

<div class="site-section bg-image overlay counter" style="background-image: url('images/voluntourism.jpg');" >
  <div class="container  " id="mission">
    <div class="row align-items-center justify-content-center mb-5">
      <div class="col-lg-10 text-center">
        <h3 class="text-black text-uppercase section-title"  >Our initiatives </h3>
      </div>
    </div>
    <div class="row mb-5 ">
      <div class="col-lg-12  col-md-12 align-self-lg-center">
        <!-- <h2 class="text-black mb-4 text-uppercase ">One-Time &amp; Monthly Donations</h2> -->
        <p class="text-black mt-3">  Osgan Peace Foundation stands committed in making peace a peoples movement, and hence it has decided to launch 3 initiatives, two of which are directly linked with Osgan Brand Ambassadors, as under </p>
        <p class="text-black"> <b>(a) Osgan Peace Corps </b>     -       This is membership club type for students of different age groups, wherein 1 day camps are conducted, for schools every quarter, as part of holistic experiential learning aimed at imbibing self analysis towards human potential aimed at taking pride human values and to become socially responsible international citizens.</p>
        <p class="text-black"> <b> (b) Osgan Peace Ambassadors </b>   -       Peace Ambassadors make teams for service to community on regular project basis. The main focus is to develop socially responsible self sustaining micro rural economies. </p>
        <p class="text-black"> <b>(c) Osgan Reservists</b>          -       These are volunteers who have settled done from regular careers and have the desire to pay back to the society.  They play the role of mentors and provide support and guidance in education and career building in a socially responsible manner.</p>
      </div>
      
    </div>
  </div>
</div>
<div class="container mt-5">
  <div class="row align-items-center justify-content-center mb-5">
    <div class="col-lg-5 text-center mb-5">
      <h2 class="text-black mb-4 ">Join us 

        Click on the link below
        
        </h2>
      <p><a href="https://www.solid-ground.org/get-involved/volunteer/volunteer-application-form/" class="btn btn-primary px-4 py-3 btn-block">Click Here </a></p>
    </div>
  </div>
</div>
  <%- contentFor('title') %>
  Become A Brand Ambassador 