
<div class="site-section bg-image overlay" style="background-image: url('images/hero_1_no-text.jpg');" id="donate-section">
    <div class="container">
      <div class="row align-items-center justify-content-center">
        <div class="col-lg-10 text-center">
          <h2 class="text-white text-uppercase section-title"  >Fund raising section</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="site-section bg-light counter" id="discover-section">
    <div class="container">
      <div class="row mb-5">

        <div class=" col-lg-5 mr-auto align-self-center order-lg-1">
          <img src="images/val-1.jpg" alt="Image" class="img-fluid">
        </div>
        <div class="col-lg-6 mb-5 order-lg-2">
          <h3 class="text-black mb-4 text-uppercase ">Ways to Give</h3>
          <p >Thank you for considering a gift to The Osgan Peace Foundation. Each donation
            is important, whatever the size, and can help make a significant difference in people’s
            lives and the cause of the world peace.</p>
         
        </div>
    </div>
  </div>
</div>

<div class="site-section bg-image overlay counter" style="background-image: url('images/voluntourism.jpg');" >
  <div class="container">
    <div class="row align-items-center justify-content-center mb-5">
      <div class="col-lg-10 text-center">
        <h3 class="text-black text-uppercase section-title"  >One-Time &amp; Monthly Donations</h3>
      </div>
    </div>
    <div class="row mb-5 ">
      <div class="col-lg-6 col-md-6">
        <figure class="block-img-video-1" data-aos="fade">
            <img src="images/donate-01.png" alt="Image" class="img-fluid">
        </figure>
      </div>
      <div class="col-lg-6 col-md-6">
        <figure class="block-img-video-1" data-aos="fade">

            <img src="images/donate-02.jpg" alt="Image" class="img-fluid">
        </figure>
      </div>
      <div class="col-lg-6 col-md-6 ">
        <!-- <h2 class="text-black mb-4 text-uppercase ">One-Time &amp; Monthly Donations</h2> -->
        <p class="text-black mt-3">  Donate now to change lives. Powerfull initiatives like the Peace Eduction Program, Food for people, and Peace for People thrive with your support </p>
      </div>
      <div class="col-lg-6 col-md-6 ">
        <p class="text-black">  Monthly donors provide essential stability to the foundation, making it possible to plan for the future and expand key programs </p>
      </div>
    </div>
    <div class="row mb-5 d-flex " style="text-align: center;">
      <div class="col-md-12">
        <figure class="block-img-video-1" data-aos="fade">
          <img src="images/donate-03.jpg" alt="Image" class="img-fluid">
        </figure>
      </div>
      <div class="col-lg-12 col-md-12 justify-content-center ">
        <h4 class="text-black">  To give by wire check or bank draft, select the links above </h4>
      </div>
    </div>
  </div>
</div>

<div class="site-section " >
  <div class="container  " id="mission">
    <div class="row align-items-center justify-content-center mb-5">
      <div class="col-lg-10 text-center">
        <h3 class="text-black text-uppercase section-title"  >Honour someone special</h3>
      </div>
    </div>
    <div class="row mb-5 ">
      <div class="col-lg-6 col-md-6">
        <figure class="block-img-video-1" data-aos="fade">
            <img src="images/donate-01.png" alt="Image" class="img-fluid">
        </figure>
      </div>
      <div class="col-lg-6 col-md-6">
        <figure class="block-img-video-1" data-aos="fade">

            <img src="images/donate-02.jpg" alt="Image" class="img-fluid">
        </figure>
      </div>
      <div class="col-lg-6  col-md-6 align-self-lg-center">
        <!-- <h2 class="text-black mb-4 text-uppercase ">One-Time &amp; Monthly Donations</h2> -->
        <p class="text-black mt-3">  Donate now to change lives. Powerfull initiatives like the Peace Eduction Program, Food for people, and Peace for People thrive with your support </p>
      </div>
      <div class="col-lg-6 col-md-6 align-self-lg-center">
        <p class="text-black">  Monthly donors provide essential stability to the foundation, making it possible to plan for the future and expand key programs </p>
      </div>
    </div>
    <div class="row mb-5 ">
      <div class="col-lg-6 col-md-6">
        <figure class="block-img-video-1" data-aos="fade">
            <img src="images/donate-01.png" alt="Image" class="img-fluid">
        </figure>
      </div>
      <div class="col-lg-6 col-md-6">
        <figure class="block-img-video-1" data-aos="fade">

            <img src="images/donate-02.jpg" alt="Image" class="img-fluid">
        </figure>
      </div>
      <div class="col-lg-6  col-md-6 align-self-lg-center">
        <!-- <h2 class="text-black mb-4 text-uppercase ">One-Time &amp; Monthly Donations</h2> -->
        <p class="text-black mt-3">  Donate now to change lives. Powerfull initiatives like the Peace Eduction Program, Food for people, and Peace for People thrive with your support </p>
      </div>
      <div class="col-lg-6 col-md-6 align-self-lg-center">
        <p class="text-black">  Monthly donors provide essential stability to the foundation, making it possible to plan for the future and expand key programs </p>
      </div>
    </div>
  </div>
</div>

<div class="site-section bg-image overlay counter" style="background-image: url('images/voluntourism.jpg');" >
  <div class="container  " id="mission">
    <div class="row align-items-center justify-content-center mb-5">
      <div class="col-lg-10 text-center">
        <h3 class="text-black text-uppercase "  >You can create your own fundraising page two ways</h3>
      </div>
    </div>
      <div class="col-lg-10  col-md-6 align-self-lg-center">
        <!-- <h2 class="text-black mb-4 text-uppercase ">One-Time &amp; Monthly Donations</h2> -->
        <p class="text-black mt-3">  (a) Create a fundraiser on your <a href="https://www.facebook.com/fundraisers/?source=nonprofit_short_url">Facebook</a>  </p>
        <p class="text-black">(b)	Build a <a href="https://www.tprf.org/creating-a-fundraising-page/">crowdfunding</a>  page on the <a href="/">www.osgan.com</a> www.osgan.com</p>
        <p class="text-black">Once submitted, you will be contacted by a member of the Independent Fundraising Team.</p>
        <h4 class="text-black">Please Contact the Independent Fundraising Team for assistance, suggestions, or requests at <a href="mailto:funding@osgan.com?Subject=Hello">funding@osgan.com </a> </h4>
      </div>
    </div>
  </div>

  <%- contentFor('title') %>
  Contribute / Donate