
<div class="site-section bg-image overlay mb-5" style="background-image: url('images/04.jpg');" id="donate-section">
    <div class="container">
      <div class="row align-items-center justify-content-center">
        <div class="col-lg-10 text-center">
          <h2 class="text-white text-uppercase section-title"  > FORTHCOMING EVENTS 2020</h2>
          <h4 class="text-white mb-4"  >OSGAN PEACE FOUNDATION    </h4>  
        </div>
      </div>
    </div>
</div>
<section class="ftco-section">
    <div class="container">
      <div class="row">
          <div class="col-md-4 d-flex ftco-animate">
            <div class="blog-entry align-self-stretch">
            <a href="blog-single.html" class="block-20" style="background-image: url('images/event-1.jpg');">
            </a>
            <div class="text p-4 d-block">
                <div class="meta mb-3">
                <div><a href="#">Mar, 2020 To Sep. 21, 2020</a></div>
                
               
              </div>
              <h3 class="heading mb-4"><a href="#"> Peace March on 21 Jun 2020 in all four metros </a></h3>
              <p class="time-loc"><span class="mr-2"><i class="icon-clock-o"></i> 10:30AM-03:30PM</span><br> 
                <span><i class="icon-map-o"></i> 	In Delhi - India Gate</span><br>
                <span><i class="icon-map-o"></i> 	In Mumbai - Gate of India</span><br>
                <span><i class="icon-map-o"></i> 	In Kolkatta from Howrah bridge to Belur math</span><br>
                <span><i class="icon-map-o"></i> 	In Chennai - Vivekananda house to MGR Memorial 	Merina beach </span>

            </p>
              <p>PEACE TALK AND DISCUSSION FOLLOWED BY MEMBERSHIP AND VOLUNTEER RECRUITMENT DRIVE. </p>
              <p><a href="forth-coming-events">Join Event </a></p>
            </div>
          </div>
        </div>
        <div class="col-md-4 d-flex ftco-animate">
            <div class="blog-entry align-self-stretch">
            <a href="blog-single.html" class="block-20" style="background-image: url('images/coming-soon.jpg');"></a>
            </a>
            <div class="text p-4 d-block">

              <h3 class="heading mb-4"><a href="#">PEACE MOTOR CAR RALLY ACROSS COUNTRIES OF THE SUB CONTINENT ON 24 OCT 2020 STARTING FROM COLOMBO SRI LANKA </a></h3>
              <p class="time-loc"><span class="mr-2"><i class="icon-clock-o"></i> </span> <span><i class="icon-map-o"></i> </span></p>
              <p>Changes made due to prevailing  global crisis. DETAILS LATER</p>
            
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

<%- contentFor('title') %>
FORTH COMING EVENTS
<style>
    /* .ftco-animate {
        opacity: 0;
        visibility: hidden; 
    } */
    .d-flex {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important; }
  .align-self-stretch {
  -ms-flex-item-align: stretch !important;
  align-self: stretch !important; }

.blog-entry {
  border: 1px solid #f2f2f2;
  background: #fff;
  overflow: hidden;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 3px 66px -24px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 3px 66px -24px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 3px 66px -24px rgba(0, 0, 0, 0.2); }

        .block-20 {
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  display: block;
  width: 100%;
  height: 270px; }
  .d-block {
  display: block !important; }
  @media (min-width: 768px) {
    .blog-entry {
      margin-bottom: 30px; } }
  @media (max-width: 767.98px) {
    .blog-entry {
      margin-bottom: 30px; } }
  .blog-entry .text {
    position: relative; }
    @media (min-width: 768px) {
      .blog-entry .text {
        width: 90%;
        margin: 0 auto;
        margin-top: -40px;
        background: #fff; } }
    .blog-entry .text .heading {
      font-size: 20px;
      margin-bottom: 16px;
      font-weight: 400; }
      .blog-entry .text .heading a {
        color: #000; }
        .blog-entry .text .heading a:hover, .blog-entry .text .heading a:focus, .blog-entry .text .heading a:active {
          color: #f86f2d; }
    .blog-entry .text .time-loc {
      font-size: 14px; }
      .blog-entry .text .time-loc span {
        color: #96a1af; }
        .blog-entry .text .time-loc span i {
          color: #f86f2d; }
  .blog-entry .meta > div {
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
    font-size: 15px; }
    .blog-entry .meta > div a {
      color: gray;
      font-size: 15px; }
      .blog-entry .meta > div a:hover {
        color: #666666; }
</style>
