   

    <%- include('./../partials/userCss'); -%>
    <div class="container_video">
      <video autoplay muted loop poster="images/hero_1.jpg" class="container_video">
          <source src="images/osgans.m4v" type="video/mp4">
      </video>
      <div class="arrow" id="arrow">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  <div class="show-data">
    <div class="site-section bg-image overlay counter" style="background-image: url('images/aim.JFIF');" >
        <div class="container  " id="mission">
          <div class="row mb-5 mt-10">
            <div class="col-lg-6 mb-4">
              <figure class="block-img-video-1" data-aos="fade">
                  
                  <img src="images/aim.JFIF" alt="Image" class="img-fluid">
              </figure>
            </div>
            <div class="col-lg-5 ml-auto align-self-lg-center">
              <h2 class="text-black mb-4 text-uppercase section-title">Aim</h2>
              <p class="text-black">  To  get everybody to join this pro peace movement where humanism is placed above every other 
                ism including religion and misplaced sense of nationalism, and where we the people of 
                this earth pledge to ensure no body goes hungry  soonest.</p>
              
            </div>
          </div>
       
        </div>
      </div>
      <div class="site-section bg-light counter" id="discover-section">
            <div class="container">
              <div class="row mb-5">
      
                <div class="col-lg-6 mb-5 order-lg-2">
                  <img src="images/vision.JFIF" alt="Image" class="img-fluid">
                </div>
                <div class="col-lg-5 mr-auto align-self-center order-lg-1">
                  <h3 class="text-black mb-4 text-uppercase section-title">Vision Statement</h3>
                  <p class="mb-5">To become a popular and effective pro peace awareness program with participation of peoples across the cross section of the global society sans any human barriers, where people take pride in reviewing human values and experiential cultural exchange programs to develop understanding, trust and respect towards the diversity in other people.</p>
                </div>
            </div>
          </div>
        </div>
        <div class="site-section bg-image overlay counter" style="background-image: url('images/misson.JFIF');" >
          <div class="container  " id="mission">
            <div class="row mb-5 mt-10">
              <div class="col-lg-6 mb-4">
                <figure class="block-img-video-1" data-aos="fade">
                    <img src="images/misson.JFIF" alt="Image" class="img-fluid">
                </figure>
              </div>
              <div class="col-lg-5 ml-auto align-self-lg-center">
                <h2 class="text-black mb-4 text-uppercase section-title">Mission statement</h2>
                <p class="text-black">  Building a people’s movement sans frontiers through a culture of loving, caring and sharing towards a sustainable world peace and to start with let us develop some compassion 
                  towards our almost a billion  people striving for a square meal on daily basis.</p>
                
              </div>
            </div>
         
          </div>
        </div> 
  </div>  
                          
<script>
$('#arrow').click(function() {
    $('.sticky-wrapper').css({
        'display': 'block'
    });
    $('.show-data').css({
        'display': 'block'
    });
    document.location.href = "#mission";
});
</script>
<style>
  .sticky-wrapper{
    display: none;
  }
  .show-data{
    display: none;
  }
</style>                              
<%- contentFor('title') %>
Home






