   

    <%- include('./../partials/userCss'); -%>

    <div class="site-section bg-image overlay counter" style="background-image: url('images/aim.jfif');" >
        <div class="container  " id="mission">
          <div class="row mb-5 ">
            <div class="col-lg-6 ">
              <figure class="block-img-video-1" data-aos="fade">
                  
                  <img src="images/aim.jfif" alt="Image" class="img-fluid">
              </figure>
            </div>
            <div class="col-lg-5 ml-auto align-self-lg-center">
              <h2 class="text-black mb-4 text-uppercase section-title">Aim</h2>
              <p class="text-black">  To provide a interactive platform to the common people from across the globe to become a part of this people for peace movement where humanism, as loving, caring and sharing, comes first always and every time well above any and every man made divisive ism. God has no religion. God sees us only as his children. All of us are one. Let us give peace a chance. </p>
              
            </div>
          </div>
       
        </div>
      </div>
      <div class="site-section bg-light counter" id="discover-section">
            <div class="container">
              <div class="row mb-5">
      
                <div class="col-lg-6 mb-5 order-lg-2">
                  <img src="images/vision.jfif" alt="Image" class="img-fluid">
                </div>
                <div class="col-lg-5 mr-auto align-self-center order-lg-1">
                  <h3 class="text-black mb-4 text-uppercase section-title">Vision </h3>
                  <p class="mb-5">To grow a series of peoples movements for World Peace  through socio cultural exchanges and interactions across all man made barriers and promoting one world and one people.</p>
                </div>
            </div>
          </div>
        </div>
        <div class="site-section bg-image overlay counter" style="background-image: url('images/misson.jfif');" >
          <div class="container  " id="mission">
            <div class="row mb-5 ">
              <div class="col-lg-6 ">
                <figure class="block-img-video-1" data-aos="fade">
                    <img src="images/misson.jfif" alt="Image" class="img-fluid">
                </figure>
              </div>
              <div class="col-lg-5 ml-auto align-self-lg-center">
                <h2 class="text-black mb-4 text-uppercase section-title">Mission</h2>
                <p class="text-black">  Building a people’s awareness movement sans frontiers, towards a sustainable world peace, where collective love and compassion of people is focused against to hunger and poverty </p>
                
              </div>
            </div>
         
          </div>
        </div> 
<%- contentFor('title') %>
Home






