<div class="site-section bg-light counter" style="padding: 10px;">
    <div class="container">
      <div class="row mb-5 justify-content-center">
        <div class="col-md-12 text-center">
          <img src="images/john-cover.jpg" alt="Image" class="img-fluid mb-5">
        </div>
        <div class="col-md-7 text-center">
          <div class="block-heading-1"  >

            <h2 class="text-black text-uppercase">John Ruskin</h2>
            <p class="italic">Ruskin found his age too much engrossed in material pursuits. The world was too much with people and they wasted their energies in ‘getting and spending.’ </p>
          </div>
        </div>
      </div>
      <div class="row mb-5 justify-content-center" >

        <div class="col-lg-12">
           
          <p class="mb-5">The Victorian prosperity dazzled the eyes of man who utterly lost sight of spiritual heritage. Darkness surrounded him on all sides. It was Ruskin who alongwith Carlyle, heralded a note of warning to his generation and tried to raise it to that pedestal of morality from where man as man could be perceived. His ugliness, his low and mean habits could not be seen from this vantage point.
            </p>
        </div>

        <div class="col-md-12">
            <p>Ruskin taught his age that wealth is not the equivalent of happiness. Factories and mills deprive man of natural surroundings and contaminate his soul. In place of greenery, he sees the smoke of the chimney and instead of the chirpings of birds and musical flow of fountains and streams, he listens to the sirens of factories and mills. Monetary habits degrade human beings and they become so shameless and cruel as to exploit their own brothers and sisters without any tinge of repentance or any fear from God. In such a society, avarice becomes the guiding principle and social affections are considered as accidental and disturbing elements in human nature—</p>
            <p>No writer in Victorian times did more than Ruskin to draw attention to the terrible wastage going on in the social organism —under present economic conditions—and to stir the individual to more serious effect in the cause of human brotherhood, not in the spirit of condescending charity, but in the saner and ampler spirit of common justice.”</p>
        </div>
      </div>
  </div>
</div>

<%- contentFor('title') %>
John Ruskin
