
<div class="site-section bg-image overlay" style="background-image: url('images/hero_1_no-text.jpg');" id="donate-section">
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col-lg-10 text-center ">
        <h2 class="text-white text-uppercase section-title" >Make a Difference</h2>
      </div>
    </div>
  </div>
</div>
<div class="site-section" id="team-section">
  <div class="container">
   
    <div class="row justify-content-md-center mb-3">
      <div class="col-lg-5 col-md-6 mb-4 mb-lg-0 " >
        <a href="/valunteers" class=" intro-engage">
          <div class="block-team-member-1 text-center rounded">
            <h3 class="font-size-20 ">Volunteer</h3>
          </div>
        </a>

      </div>

      <div class="col-lg-5 col-md-6 col-md-offset-2 mb-4 mb-lg-0" >
        <a href="/become-a-member" class="intro-engage">
          <div class="block-team-member-1 text-center rounded orange" >
            <h3 class="font-size-20 ">Become A Member</h3>
          </div>
        </a>
      </div>
  </div>
  <div class="row justify-content-md-center">
    <div class="col-lg-5 col-md-6 mb-4 mb-lg-0">
      <a href="/brand-ambassador" class="intro-engage">
        <div class="block-team-member-1 text-center rounded red-bg">
          <h3 class="font-size-20 ">Become A Peace Ambassador </h3>
        </div>
      </a>
    </div>

    <div class="col-lg-5 col-md-6 col-md-offset-2 mb-4 mb-lg-0" >
      <a href="/donate" class="intro-engage">
        <div class="block-team-member-1 text-center rounded green-bg" >
          <h3 class="font-size-20 ">Contribute / Donate</h3>
        </div>
      </a>

    </div>
</div>
</div>
</div>
<%- contentFor('title') %>
Join Us