<div class="site-section bg-light counter" style="padding: 10px;">
    <div class="container">
      <div class="row mb-5 justify-content-center">
        <div class="col-md-12 text-center">
          <img src="images/leo-cover.jpg" alt="Image" class="img-fluid mb-5">
        </div>
        <div class="col-md-7 text-center">
          <div class="block-heading-1"  >

            <h2 class="text-black text-uppercase">LEO TOLSTOY </h2>
            <p class="italic">Gandhi and Tolstoy have been the two greatest exponents of non-violence as a way of life and means of resistance</p>
          </div>
        </div>
      </div>
      <div class="row mb-5 justify-content-center" >

        <div class="col-lg-12">
           
          <p class="mb-5">I sit on a man's back, choking him, and making him carry me, and yet assure myself and others that I am very sorry for him and wish to ease his lot by any means possible, except getting off his back. --  this is how a unique inbuilt and selectively ingrained amnesia in us makes us not only ignore the ugliest of the sufferings of mankind, but makes us believe that they actually do not exist.
            </p>
        </div>
        <div class="col-md-10">
            <p>"A Russian should rejoice if Poland, the Baltic Provinces, Finland, Armenia, should be separated, freed from Russia; so with an Englishman in regard to Ireland, India and other possessions; and each should help to do this, because the greater the state, the more wrong and cruel is its patriotism, and the greater is the sum of suffering upon which its power is founded. Therefore, if we really wish to be what we profess to be, we must not only cease our present desire for the growth of the state, but we must desire its decrease, its weakening, and help this forward with all our might." </p>
        </div>
        <div class="col-md-12">
            <p>Leo Tolstoy, from "Writings on Civil Disobedience and Nonviolence," written in 1886.</p>
            <p>Two of the greatest minds in human history - India’s Mahatma Gandhi and Russia’s Leo Tolstoy - never got to meet in person. They exchanged letters over the course of one year. But the importance of their communication cannot be underestimated. </p>
            <p>"The greatest apostle of non-violence that the present age has produced” and a “great teacher whom I have long looked upon as one of my guides” — these are just a few ways Mohandas Karamchand Gandhi (1869-1948) described Leo Tolstoy (1828–1910). Born in different countries and in slightly different periods, they were representatives of different generations. The young and as yet unknown Gandhi looked for wisdom in the works of the already famous Tolstoy.</p>
            <p>As the future leader of the Indian non-violent resistance movement later shared, the works of the Russian writer and philosopher had had a great influence on him. “Tolstoy’s The Kingdom of God Is Within You overwhelmed me. It left an abiding impression on me. Before the independent thinking, profound morality, and the truthfulness of this book, all the books given me … seemed to pale into insignificance,” Gandhi wrote.</p>
            <p>The two great minds of Russia and India collided in 1909. The story started in December 1908, when anti-British Indian revolutionary Tarak Nath Das wrote to Tolstoy seeking his support for India’s independence from the British colonial rule. By then one of the most famous public figures, the Russian writer replied in a lengthy letter titled “A Letter to a Hindu”, which Das published in the Indian newspaper “Free Hindustan”. In short, Tolstoy’s message was that the only way for the Indian people to free themselves from the British was through the principle of love.</p>
            <p>“Do not resist evil, but also do not yourselves participate in evil — in the violent deeds of the administration of the law courts, the collection of taxes and, what is more important, of the soldiers, and no one in the world will enslave you,” he wrote</p>
            <p>The text got passed from hand to hand and reached the young Gandhi in 1909. Still in the early days of his activist career, Gandhi wrote to Tolstoy requesting permission to reprint “A Letter to a Hindu” in his own “Indian Opinion” newspaper in South Africa. The exchange evolved into a year-long correspondence that lasted until Tolstoy’s death in 1910.</p>
        </div>
      </div>
  </div>
</div>

<%- contentFor('title') %>
Home
