<div class="site-section bg-light counter" style="padding: 10px;">
    <div class="container">
      <div class="row mb-5 justify-content-center">
        <div class="col-md-12 text-center">
          <img src="images/martin-cover.jpg" alt="Image" class="img-fluid mb-5">
        </div>
        <div class="col-md-7 text-center">
          <div class="block-heading-1"  >

            <h2 class="text-black text-uppercase">Martin Luther King, Jr. changed America </h2>
            <p class="italic">Here is a collection of Few of his inspiring and thought-provoking quotes </p>
          </div>
        </div>
      </div>
      <div class="row mb-5 justify-content-center" >

        <div class="col-lg-12">
           
          <p class="mb-5">Our lives begin to end the day we become silent about things that matter.
            True compassion is more than flinging a coin to a beggar; it is not haphazard and superficial. It comes to see that an edifice which produces beggars needs restructuring.
            <br>
                         
            </p>
            <h4>From The Measure of a Man, 1959 </h4>
            <p>Man is man because he is free to operate within the framework of his destiny. He is free to deliberate, to make decisions, and to choose between alternatives. He is distinguished from animals by his freedom to do evil or to do good and to walk the high road of beauty or tread the low road of ugly degeneracy.
                
            </p>
                <h4>From Strength to Love, 1963</h4>
            <p>
                Our scientific power has outrun our spiritual power. We have guided missiles and misguided men. <br>
                We must combine the toughness of the serpent and the softness of the dove, a tough mind and a tender heart. <br>
                The ultimate measure of a man is not where he stands in moments of comfort and convenience, but where he stands at times of challenge and controversy. <br>
                Darkness cannot drive out darkness; only light can do that. Hate cannot drive out hate; only love can do that. Hate multiplies hate, violence multiplies violence, and toughness multiplies toughness in a descending spiral of destruction….The chain reaction of evil–hate begetting hate, wars producing more wars–must be broken, or we shall be plunged into the dark abyss of annihilation. <br>
                Success, recognition, and conformity are the bywords of the modern world where everyone seems to crave the anesthetizing security of being identified with the majority. <br>
                Like an unchecked cancer, hate corrodes the personality and eats away its vital unity. Hate destroys a man’s sense of values and his objectivity. It causes him to describe the beautiful as ugly and the ugly as beautiful, and to confuse the true with the false and the false with the true. <br>
                Human salvation lies in the hands of the creatively maladjusted. <br>
                Like an unchecked cancer, hate corrodes the personality and eats away its vital unity. Hate destroys a man’s sense of values and his objectivity. It causes him to describe the beautiful as ugly and the ugly as beautiful, and to confuse the true with the false and the false with the true. <br>
            
            </p>
            <h4>From his “I Have A Dream” speech, 1963</h4>
            <p>I have a dream that my four little children will one day live in a nation where they will not be judged by the color of their skin but by the content of their character. <br>
                From every mountainside, let freedom ring. When we let freedom ring, when we let it ring from every village and every hamlet, from every state and every city, we will be able to speed up that day when all of God’s children, black men and white men, Jews and Gentiles, Protestants and Catholics, will be able to join hands and sing in the words of the old Negro spiritual, ‘Free at last! Free at last! Thank God Almighty, we are free at last!’ <br>
            
             </p>
             <h4> From his Nobel Prize acceptance speech, 1964</h4>
            <p>Nonviolence is the answer to the crucial political and moral questions of our time: the need for man to overcome oppression and violence without resorting to oppression and violence. Man must evolve for all human conflict a method which rejects revenge, aggression and retaliation. The foundation of such a method is love. <br>
            
            </p>
            <h4>From Where Do We Go from Here: Chaos or Community?, 1967</h4>
            <p>
                A nation that continues year after year to spend more money on military defense than on programs of social uplift is approaching spiritual death
            </p>
            <p>Peace cannot be kept by force; it can only be achieved by understanding.” “Darkness cannot drive out darkness; only light can do that. Hate cannot drive out hate; only love can do that.” ~ Martin Luther King, Jr.</p>
        </div>
        
      </div>
  </div>
</div>

<%- contentFor('title') %>
Home
