<div class="site-section bg-light counter" style="padding: 10px;">
    <div class="container">
      <div class="row mb-5 justify-content-center">
        <div class="col-md-12 text-center">
          <img src="images/mother-teresa-cover.jpg" alt="Image" class="img-fluid mb-5">
        </div>
        <div class="col-md-7 text-center">
          <div class="block-heading-1"  >

            <h2 class="text-black text-uppercase">Mother Teresa  </h2>

          </div>
        </div>
      </div>
      <div class="row mb-5 justify-content-center" >

        <div class="col-lg-12">
           
          <p class="mb-5">Mother Teresa, the champion of humanity, provided the loneliest, the most wretched and the dying; compassion without condescension, based on reverence for man.
            </p>
        </div>
        <div class="col-md-12">
            <p>Among the many laureates she received for her humanitarian work, Teresa received the Jewel of India, the highest honour awarded to Indian civilians.</p>
            <p>she refused the Nobel honour banquet and requested the 1,92,000 USD prize money to be used to help the poor in India.</p>
        </div>
        <div class="col-md-12">
            <h3>Missionaries of Charity</h3>
            <p>In 1950, she founded the Missionaries of Charity, a Roman Catholic religious congregation dedicated to serve "the hungry, the naked, the homeless, the crippled, the blind, the lepers, all those people who feel unwanted, unloved throughout society, people that have become a burden to the society and are shunned by everyone."</p>
            <p>Mother Teresa chose to "serve the poorest of the poor and to live among them and like them." She saw beauty in every human being. She, along with others of the Missionaries of Charity, strove to make the lives and deaths of those around them more peaceful and full of love.</p>
            <p>Mother Teresa quotes on peace <br>
                “If you can't feed a hundred people, then feed just one.” “I try to give to the poor people for love what the rich could get for money. No, I wouldn't touch a leper for a thousand pounds; yet I willingly cure him for the love of God.”
                </p>
            <p>“A life not lived for others is not a life.” “If you want to change the world, go home and love your family.” “Peace begins with a smile</p>
            
            <p>Mother believed that God is specially revealed in the mystery of the human person who is 'created in the image and likeness of God' – she probed the meaning of human life and arrived at the radical goodness that resides in every individual.</p>
            <p>She has inspired thousands of followers in several nations as well as individuals around the globe. World leaders have recognized her as an inspiration. She was one among us, one among the poor, dying and destitute. She identified herself with them. She demonstrated that a person could live a faith-filled life even when in agony and doubt.</p>
            <p>Her message is universal. No matter what religion a person belongs to, or even if they don't believe at all, Mother Teresa's message is to serve with love. “ Not all of us can do great things, but we can do small things with great love”.</p>
            <p>Mother Teresa was misunderstood – critics blamed her for working for conversion. Didn’t Judas, one of the Apostles betray Jesus Christ? In her epic years as a missionary, Mother has not converted a single person to a particular religious faith. She converted many, to the communion of Humanity, beyond considerations of parochial religious culture.</p>
            <p>I have had a close association with Mother. On many occasions, I had brought Mother Teresa in touch with Calcutta youth. Whenever I invited her to St. Xavier’s College to address the staff and students, she was there with her characteristic smile, humility and a presence that created an atmosphere of prayer and veneration. She was always inspiring and every time she met the youth, she had a message for them. Whenever I invited her for youth programs, she never said ‘No’.</p>
            <p>When a priest just been ordained, As soon as she came to greet him, she stretched out her hand and touched his feet – the priest hastily withdrew; she said, ‘you are a new priest and I want your blessing.’ he said ‘who am I in front of you?’ She responded in her humble way ‘as a priest you are the image of Christ to me. So it is you who must bless me.’ When the priest asked for her blessings she gave him a Rosary and said ‘Pray for me and for my work for the destitute and dying’. I discovered in this lady the divine dispensation that reached the core of everyone/s  heart. Every word she spoke, every touch and every look exuded a trans formative tint.</p>
            <p>The following words of Mother will always inspire human beings  </p>
            <h4>The Fruit of Silence is Prayer. <br>
                The Fruit of Prayer is Faith. <br>
                The Fruit of Faith is Love. <br>
                The Fruit of love is service. <br>
                The fruit of service is peace.
                  </h4>
        </div>
      </div>
  </div>
</div>

<%- contentFor('title') %>
Home
