<div class="site-section bg-light counter" style="padding: 10px;">
    <div class="container">
      <div class="row mb-5 justify-content-center">
        <div class="col-md-12 text-center">
          <img src="images/mandelas-life-cover.jpg" alt="Image" class="img-fluid mb-5">
        </div>
        <div class="col-md-7 text-center">
          <div class="block-heading-1"  >

            <h2 class="text-black text-uppercase">Nelson Mandela</h2>
            <p class="italic">No one is born hating another person because of the color of his skin or his background or his religion…</p>
          </div>
        </div>
      </div>
      <div class="row mb-5 justify-content-center" >

        <div class="col-lg-12">
           
          <p class="mb-5">Obama’s Tweet After Charlottesville became the Most-Liked Ever. While Obama himself explicitly mentioned Mandela in his 3-part tweet, most of the mainstream media failed to recognize these words of wisdom to their true author. So let’s Give credit where credit is due.  
            <br>
            <a href="">Long Walk to Freedom</a> is an autobiographical work written by South African President Nelson Mandela, and first published in 1994. Throughout his remarkable and dramatic life, Mandela has witnessed the same hatred and bigotry that swept through Charlottesville, yet he never lost hope and this is what he said about it:

            </p>
        </div>
        <div class="col-md-10">
            <p>“I never lost hope that this great transformation would occur. Not only because of the great heroes I have already cited, but because of the courage of the ordinary men and women of my country. I always knew that deep down in every human heart, there is mercy and generosity. No one is born hating another person because of the color of his skin, or his background, or his religion. People must learn to hate, and if they can learn to hate, they can be taught to love, for love comes more naturally to the human heart than its opposite. Even in the grimmest times in prison, when my comrades and I were pushed to our limits, I would see a glimmer of humanity in one of the guards, perhaps for just a second, but it was enough to reassure me and keep me going. Man’s goodness is a flame that can be hidden but never extinguished.”</p>
        </div>
        <div class="col-md-12">
            <p>Today marks Madiba’s 100th birthday, a remarkable man and leader who is a true inspiration for freedom and justice in the world. On this expectional anniversary, I could not find a better tribute than Barack Obama’s lecture at this occasion. Throughout the speech, Mr. Obama returned to the ideals promoted by Mandela, the anti-apartheid South African leader, saying that his release from prison in 1990 inspired a wave of racial and gender equality and economic progress nearly everywhere. Countries were lifted out of poverty. Entrepreneurs surfaced from all parts of the world.</p>
        </div>
      </div>
  </div>
</div>

<%- contentFor('title') %>
Home
