
<div class="site-section bg-image overlay" style="background-image: url('images/04.jpg');" id="donate-section">
    <div class="container">
      <div class="row align-items-center justify-content-center">
        <div class="col-lg-7 text-center">
          <h2 class="text-white text-uppercase section-title"  > OUR  INSPIRATION</h2>
          <h4 class="text-white mb-4"   >LEADERS AND INSPIRING QUOTES    </h4>  
        </div>
      </div>
    </div>
</div>
<div class="site-section bg-light counter"  style="padding: 32px;">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-7 text-center">
          <div class="block-heading-1">
            <h2 class="text-black text-uppercase section-title" >INSPIRATIONAL QUOTES</h2>
          </div>
        </div>
      </div>
  </div>
</div>

<div class="site-section block-13 overlay bg-image" id="testimonials-section" data-aos="fade" style="background-image: url('images/hero_1_no-text.jpg');">
    <div class="container">
      <div class="owl-carousel nonloop-block-13">
        <div>
          <div class="block-testimony-1 text-center">
            
            <blockquote class="mb-4">
              <p>Peace is not merely the absence of war and hatred (negative peace / cold war) but also
                 the presence of cooperation, compassion and worldwide justice (positive peace / hot peace).</p>
            </blockquote>
            
          </div>
        </div>
        <div>
            <div class="block-testimony-1 text-center">
              <blockquote class="mb-4">
                <p>
                   
                    The means we use to reach our ends are extremely important. Hopefully your "means" are kindness-centered and non-destructive. Often (possibly always) being kind is more important than proving you are right. When it is critical that you prove your point, remember to intertwine wisdom with compassion. Recent events would suggest that the human race is starting to learn that change can be achieved more effectively by mass demonstrations and peaceful means than by negative, destructive and hateful means.
                   </p>
              </blockquote>
            </div>
        </div>
        <div>
            <div class="block-testimony-1 text-center">
              <blockquote class="mb-4">
                <p>
                
                    Happiness is when what you think, what you say, and what you do are in harmony.
                    </p>
              </blockquote>
              <h3 class="font-size-20 text-white">Mahatma Gandhi</h3>
            </div>
        </div>
        <div>
            <div class="block-testimony-1 text-center">
              <blockquote class="mb-4">
                <p>
                   
                    There is nothing like returning to a place that remains unchanged to find the ways in which you yourself have altered.
                    </p>
              </blockquote>
              <h3 class="font-size-20 text-white"> Nelson Mandela</h3>
            </div>
        </div>
        <div>
            <div class="block-testimony-1 text-center">
              <blockquote class="mb-4">
                <p>
                    Change your thoughts and you change your world. </p>
              </blockquote>
              <h3 class="font-size-20 text-white">  Norman Vincent Peale</h3>
            </div>
        </div>
        <div>
            <div class="block-testimony-1 text-center">
              <blockquote class="mb-4">
                <p>
                   
                    We are not disturbed by what happens to us, but by our thoughts about what happens to us.
                    </p>
                    <h3 class="font-size-20 text-white"> Epictetus </h3>
              </blockquote>
            </div>
        </div>
        <div>
            <div class="block-testimony-1 text-center">
              <blockquote class="mb-4">
                <p>
                    
                    It is not possible to be in favor of justice for some people and not be in favor of justice for all people." 
                    </p>
                    <h3 class="font-size-20 text-white">  Martin Luther King, Jr. </h3>
              </blockquote>
            </div>
        </div>
        <div>
            <div class="block-testimony-1 text-center">
              <blockquote class="mb-4">
                <p>
                    One hour's meditation on the work of the Creator is better than seventy years of prayer
                </p>
              </blockquote>
              <h3 class="font-size-20 text-white">  Muhammad </h3>
            </div>
        </div>
        <div>
            <div class="block-testimony-1 text-center">
              <blockquote class="mb-4">
                <p>
                    Prayer is when you talk to God; meditation is when you listen to God.
                </p>
              </blockquote> 
              <h3 class="font-size-20 text-white">  Diana Robinson </h3>

            </div>
        </div>
        <div>
            <div class="block-testimony-1 text-center">
              <blockquote class="mb-4">
                <p>
                    I have just three things to teach: simplicity, patience, compassion. These three are your greatest treasures. Simple in actions and thoughts, you return to the source of your being. Patient with both friends and enemies, you accord with the way things are. Compassionate toward yourself, you reconcile all beings in the world. 
                </p>
              </blockquote>
              <h3 class="font-size-20 text-white"> Tao Te Ching: 67</h3>
            </div>
        </div>
        <div>
            <div class="block-testimony-1 text-center">
              <blockquote class="mb-4">
                <p>
                    I have come to realize that people are about as happy as they make up their minds to be.
                </p>
              </blockquote>
              <h3 class="font-size-20 text-white"> Abraham Lincoln</h3>
            </div>
        </div>
        <div>
            <div class="block-testimony-1 text-center">
              <blockquote class="mb-4">
                <p>
                    Asked, Who is the rich man? Epictetus replied, He who is content.
                </p>
              </blockquote>
            
            </div>
        </div>
        <div>
            <div class="block-testimony-1 text-center">
              <blockquote class="mb-4">
                <p>
                    A wise person creates a harmony between the head, the heart, and the body. In this harmony comes the revelation of the source of one's life, the very center, the soul. 
                </p>
              </blockquote>
              <h3 class="font-size-20 text-white"> OSHO</h3>
            </div>
        </div>
        <div>
            <div class="block-testimony-1 text-center">
              <blockquote class="mb-4">
                <p>
                    The doorways to the realm of heaven (Brahma) are right here on earth and they are four in number: we enter the highest heavenly abodes through loving kindness (metta), compassion (karuna), sharing joy (muditha), and equanimity (upekkha). It is through service in this world, not by abandoning this world, that we attain to heavenly realms or spiritual fulfillment. - BuddhaThe doorways to the realm of heaven (Brahma) are right here on earth and they are four in number: we enter the highest heavenly abodes through loving kindness (metta), compassion (karuna), sharing joy (muditha), and equanimity (upekkha). It is through service in this world, not by abandoning this world, that we attain to heavenly realms or spiritual fulfillment.
                </p>
              </blockquote>
              <h3 class="font-size-20 text-white"> Buddha</h3>
            </div>
        </div>
        <div>
            <div class="block-testimony-1 text-center">
              <blockquote class="mb-4">
                <p>
                     Peace I leave with you, My peace I give to you; not as the world gives do I give to you. Let not your heart be troubled, neither let it be afraid. 
                </p>
              </blockquote>
              <h3 class="font-size-20 text-white"> Jesus (John 14:27)</h3>
              
            </div>
        </div>
        <div>
            <div class="block-testimony-1 text-center">
              <blockquote class="mb-4">
                <p>
                    If we have no peace, it is because we have forgotten that we belong to each other. I was once asked why I don't participate in anti-war demonstrations. I said that I will never do that, but as soon as you have a pro-peace rally, I'll be there. 
                </p>
              </blockquote>
              <h3 class="font-size-20 text-white"> Mother Teresa</h3>
            </div>
        </div>
        <div>
            <div class="block-testimony-1 text-center">
              <blockquote class="mb-4">
                <p>
                    Is 2012 the end of one stage in human development and the beginning of a new chapter in human evolution? The darkness and pain of the era of the "Art of War" (Death) appears to be giving way to the age of enlightenment and the "Art of Peace" (Life) thanks in a large part to the vast improvement in 2-way communication the World Wide Web has created.
Do you belive that "Peace for All & All for Peace" has a chance to create Peace on Earth?
Are you a Prince or Princess of Peace?

                </p>
              </blockquote>
              
            </div>
        </div>
        <div>
            <div class="block-testimony-1 text-center">
              <blockquote class="mb-4">
                <p>
                    Each and every master, regardless of the era or place, heard the call and attained harmony with heaven and earth. There are many paths leading to the top of Mount Fuji, but there is only one summit --- love. 
                </p>
              </blockquote>
              <h3 class="font-size-20 text-white"> Morihei Ueshiba</h3>
            </div>
        </div>
      </div>

    </div>
  </div>
  <div class="site-section" id="team-section">
    <div class="container">
      <div class="row mb-5 justify-content-center">
        <div class="col-md-7 text-center">
            <h2 class="text-black text-uppercase section-title">OUR INSPIRATIONAL LEADERS</h2>
           
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6 mb-4 mb-lg-0" data-aos="fade-up">
          <div class="block-team-member-1 text-center rounded">
            <figure>
              <img src="images/leo.jpg" alt="Image" class="img-fluid ">
            </figure>
            <h3 class="font-size-20 ">Leo Tolstoy </h3>
            <div class="block-social-1">
              <a href="https://www.mkgandhi.org/articles/tolstoy-and-practical-spirituality.html" class="btn border-w-2 rounded primary-primary-outline--hover">Get Started</span></a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 mb-4 mb-lg-0" data-aos="fade-up" data-aos-delay="100">
            <div class="block-team-member-1 text-center rounded" style="    padding-bottom: 19px;">
                <figure>
                <img src="images/John.jpg" alt="Image" class="img-fluid ">
                </figure>
                <h3 class="font-size-20 ">John Ruskin</h3>
                <div class="block-social-1">
                    <a href="https://shodhganga.inflibnet.ac.in/bitstream/10603/245003/6/05%20chapter%201.pdf" class="btn border-w-2 rounded primary-primary-outline--hover">Get Started</span></a>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 mb-4 mb-lg-0" >
          <div class="block-team-member-1 text-center rounded">
            <figure>
              <img src="images/nelson.jpg" alt="Image" class="img-fluid ">
            </figure>
            <h3 class="font-size-20 ">Nelson Mandela</h3>
            <div class="block-social-1">
                <a href="https://www.red.org/reditorial/2018/7/18/8-ways-nelson-mandela-changed-the-world" class="btn border-w-2 rounded primary-primary-outline--hover">Get Started</span></a>
              </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-4 mb-lg-0" >
            <div class="block-team-member-1 text-center rounded" style="padding-bottom: 70px;">
              <figure>
                <img src="images/martin.jpg" alt="Image" class="img-fluid ">
              </figure>
              <h3 class="font-size-20 ">Martin Luther King, Jr.</h3>
              <div class="block-social-1">
                <a href="https://www.nobelprize.org/prizes/peace/1964/king/lecture/" class="btn border-w-2 rounded primary-primary-outline--hover">Get Started</span></a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mb-4 mb-lg-0" >
            <div class="block-team-member-1 text-center rounded">
              <figure>
                <img src="images/teresa.jpg" alt="Image" class="img-fluid ">
              </figure>
              <h3 class="font-size-20 "> Mother Teresa</h3>
              <div class="block-social-1">
                <a href="https://www.goalcast.com/2017/04/10/top-20-most-inspiring-mother-teresa-quotes/" class="btn border-w-2 rounded primary-primary-outline--hover">Get Started</span></a>
              </div>
            </div>
          </div>
      
    </div>
  </div>
  </div>
  <div class="site-section bg-image overlay" style="background-image: url('images/04.jpg');" id="donate-section">
    <div class="container">
      <div class="row justify-content-center">
      
      </div>
      <div class="row">
        <div class="col-lg-6 text-white" data-aos="fade-up" data-aos-delay="300">
          <div>
            <a href="single.html" class="mb-4 d-block"><img src="images/krishnamurti.jpg" style="    width: 85%;" alt="Image" class="img-fluid rounded"></a>
            <h2>JIDDU KRISHNAMURTHY - About Where Can Peace Be Found?</h2>
            <p>Widely recognized as one of the most influential spiritual teachers of the twentieth century, Jiddu Krishnamurti taught that in order for there to be peace in the world, we must each first make peace with ourselves. No spiritual path, leader, or personal or political philosophy will guide us in this endeavor, he said; this transformation of the human psyche is a truth that each of us must discover within. </p>
            <p>Here, Krishnamurti teaches that the war and destruction human beings wreak on each other and the environment are caused by our misplaced attachment to a sense of self and individuality that leads to aggression, competition, greed, and conflict. When we recognize that our consciousness is not individual but common to all humans, we can work together in a spirit of cooperation and compassion. Krishnamurti shows that taking personal responsibility for our actions and reactions—in our relationships and in our lives—is the necessary first step toward a global view.</p>
          </div>
        </div>
        <div class="col-lg-6 text-white" data-aos="fade-up" data-aos-delay="300">
          <div>
            <a href="single.html" class="mb-4 d-block"><img src="images/gandhi.jpg" alt="Image" class="img-fluid rounded"></a>
            <h2 class="text-white">How John Ruskin influenced Mahatma Gandhi? </h2>
        
            <p>In 1904,Mahatma Gandhi had a memorable encounter with Unto the Last, a book authored by John Ruskin. The book created a lasting impact on Gandhi on the basis of which he was able to chart out his political philosophy and actions.</p>
            <p>
                John Ruskin’s ideology consisted of three fundamental tenets. First, the good of an individual is contained in the good of all, a principle that Gandhiji knew. Second, the work of a lawyer and a barber is equally dignified as long as they adhere to ethical ways of living. This is the thing that Gandhi dimly realized.  Third, a labour involving physical labour, that is, the life of a tiller and a handicraftsman is a life worth living. Gandhiji never have had realized the significance of manual work before 1904 in such unambiguous manner.
            </p>
            <p>
                The amalgamation of John Ruskin’s teachings inspired Gandhi to devise his own political philosophy of ‘Sarvodaya’.The expanded meaning of sarvodaya is ‘equal upliftment of all’. Man’s ultimate aim, in Gandhi’s view, was the realization of God. In pursuit of this objective, a man needs to see God in his creation and be with it. The importance of physical labour is evident in Gandhi’s principle of ‘nai talim’ wherein he underscored that education is incomplete without the equal emphasis on intellectual development and manual work.

            </p>
            <p>
                Gandhi’s ‘sarvodaya’ is more relevant in the twenty-first century across the world. The concept of ‘inclusive growth’ is strongly rooted in the ‘sarvodaya’ principle. The real growth of a nation lies in the inclusive development of all sections of the society, not in the blind prosperity of a select few. Although ‘sarvodaya’ was a social ideology in fundamental form, it transformed itself into an urgent political doctrine after India gained independence.  Acharya Vinoba Bhave, socialist Jai Prakash Narayan and Dada Dharmadhikari were the torch-bearers of ‘sarvodaya’ and carried forward the ideals of Gandhi after his demise in 1948.
            </p>
            <p><a  href='https://goodmenproject.com/featured-content/mahatma-gandhis-5-teachings-to-bring-about-world-peace-admc/'>““If humanity is to progress, Gandhi is inescapable. He lived, thought, acted and inspired by the vision of humanity evolving toward a world of peace and harmony.” – Dr. Martin Luther King, Jr.”</a></p>
          </div>
        </div>

      </div>
    </div>
  </div>

<%- contentFor('title') %>
OUR  INSPIRATION
<style>
  .owl-theme .owl-controls .owl-page {
    display: inline-block;
}
.owl-theme .owl-controls .owl-page span {
    background: none repeat scroll 0 0 #869791;
    border-radius: 20px;
    display: block;
    height: 12px;
    margin: 5px 7px;
    opacity: 0.5;
    width: 12px;
}
</style>