
<div class="site-section bg-image overlay" style="background-image: url('images/hero_1_no-text.jpg');" id="donate-section">
    <div class="container">
      <div class="row align-items-center justify-content-center">
        <div class="col-lg-5 text-center">
          <h2 class="text-white text-uppercase section-title"  >Thanks</h2>
          <h4 class="text-white mb-4"   >OSGANS PEACE FOUNDATION    </h4>  
        </div>
      </div>
    </div>
  </div>
  <div class="site-section" id="team-section">
    <div class="container">
        <div class="row justify-content-center">
            <h1 class="font-size-20 text-black">Thanks For Contact us, Our Team Will Get Back You Soon</h3>
        </div>
    </div>
  </div>
  <%- contentFor('title') %>
 Thanks