
<div class="site-section bg-image overlay" style="background-image: url('images/voluntourism.jpg');" id="donate-section">
    <div class="container">
      <div class="row align-items-center justify-content-center">
        <div class="col-lg-10 text-center">
          <h2 class="text-white text-uppercase section-title"  >OSGANS PEACE FOUNDATION</h2>
          <h4 class="text-white mb-4"   >  VOLUNTEERS</h4>  
        </div>
      </div>
    </div>
  </div>
  <div class="site-section bg-light counter" id="discover-section">
    <div class="container">
      <div class="row mb-5">

        <div class="col-lg-6 mb-5 order-lg-2">
          <img src="images/val-1.jpg" alt="Image" class="img-fluid">
        </div>
        <div class="col-lg-5 mr-auto align-self-center order-lg-1">
          <h3 class="text-black mb-4 text-uppercase ">Things volunteers can do using the internet. </h3>
          <p >-	Write a blog about promoting peace</p>
          <p >-	Write articles for a newspaper/newsletters</p>
          <p >-	Post on social media promoting peace.</p>
          <p >-	Write to your politician/representative about issue related to 	hunger, discrimination, hate mongering, violence.</p>
        </div>
    </div>
  </div>
</div>
<div class="site-section bg-image overlay counter" style="background-image: url('images/voluntourism.jpg');" >
  <div class="container  " id="mission">
    <div class="row mb-5 ">
      <div class="col-lg-12 ">
        <figure class="block-img-video-1" data-aos="fade">
            
            <img src="images/voluntourism.jpg" alt="Image" class="img-fluid">
        </figure>
      </div>
      <div class="col-lg-10  align-self-lg-center">
        <h2 class="text-black mb-4 text-uppercase ">Things volunteers should pledge to practice on ground</h2>
        <p class="text-black">  	-			Make a personal commitment to nonviolence</p>
        <p class="text-black">  -			Study nonviolence, ADR (Alternative Dispute Resolution), 					Conflict Management, Conflict Resolution.</p>
        <p class="text-black">  	-		Organize / Attend peace rallies. Invite a peace speaker to your 			event, 	workplace, and/or community to spread awareness 			and participation.</p>
        <p class="text-black">  	-		Arrange food for the hungry, in any which way.</p>
        <p class="text-black">  	-		Spread awareness on humanism and its relationship to world 			peace.</p>
        <p class="text-black">  	-		Acts of Compassion, Benevolence, Kindness, help your 				neighbor with their groceries, walk their dog, clean up their 				backyard).</p>
        <p class="text-black">  	-		Meditate and invite others to meditate. Explain the essence of 			peaceful co-existence.</p>
        <p class="text-black">  	-		Participate in peace initiatives of the headquarters like student 			awareness experiential peace camps, socially responsible 			1	rural micro economy schemes. Interstate and international 				cultural exchange experiential learning tours.</p>
        <p class="text-black">  	-		Arrange and / or Participate in Interfaith seminars towards 				building bridges and harmony among the diverse sections of 			the society and the world.</p>
        <p class="text-black">  	-		Encourage people to experience and understand 							volunteer work with Osgan Peace Corps.    </p>
      </div>
    </div>
  </div>
</div>
<div class="container mt-5">
  <div class="row align-items-center justify-content-center mb-5">
    <div class="col-lg-5 text-center mb-5">
      <h2 class="text-black mb-4 ">JOIN US 
        FILL IN THE FORM BELOW 
        </h2>
      <p><a href="https://www.solid-ground.org/get-involved/volunteer/volunteer-application-form/" class="btn btn-primary px-4 py-3 btn-block">JOIN US </a></p>
    </div>
  </div>
</div>
  <%- contentFor('title') %>
 Valuntees