
<div class="site-section bg-image overlay" style="background-image: url('images/hero_1_no-text.jpg');" id="donate-section">
    <div class="container">
      <div class="row align-items-center justify-content-center">
        <div class="col-lg-5 text-center">
          <h2 class="text-white text-uppercase section-title"  data-aos="fade-up" data-aos-delay="200">Video Galleries</h2>
          <h4 class="text-white mb-4"  data-aos="fade-up" data-aos-delay="100" >OSGAN PEACE FOUNDATION    </h4>  
        </div>
      </div>
    </div>
</div>

<%- contentFor('title') %>
Galleries

<div class="site-section bg-image overlay" style="background-image: url('images/04.jpg');">
  <div class="container">
    <div class="row mb-5 justify-content-center">
      <div class="col-md-7 text-center">
          <h2 class="text-black text-uppercase section-title">OUR INSPIRATIONAL LEADERS</h2>
         
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6 mb-4 mb-lg-0" > 
        <div class="block-team-member-1 text-center rounded">
          <figure>
            <img src="images/leo.jpg" alt="Image" class="img-fluid ">
          </figure>
          <h3 class="font-size-20 text-black ">Leo Tolstoy </h3>
          <!-- <div class="block-social-1">
            <a href="/leo-story" class="btn border-w-2 rounded primary-primary-outline--hover">Get Started</span></a>
          </div> -->
        </div>
      </div>

      <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
          <div class="block-team-member-1 text-center rounded" style="padding-bottom: 19px;">
              <figure>
              <img src="images/John.jpg" alt="Image" class="img-fluid ">
              </figure>
              <h3 class="font-size-20 text-black">John Ruskin</h3>
              <!-- <div class="block-social-1">
                  <a href="/john-ruskin" class="btn border-w-2 rounded primary-primary-outline--hover">Get Started</span></a>
              </div> -->
          </div>
      </div>

      <div class="col-lg-4 col-md-6 mb-4 mb-lg-0" >
        <div class="block-team-member-1 text-center rounded">
          <figure>
            <img src="images/nelson.jpg" alt="Image" class="img-fluid ">
          </figure>
          <h3 class="font-size-20 text-black">Nelson Mandela</h3>
          <!-- <div class="block-social-1">
              <a href="/nelson" class="btn border-w-2 rounded primary-primary-outline--hover">Get Started</span></a>
            </div> -->
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-4 mb-lg-0" >
          <div class="block-team-member-1 text-center rounded mt-2" style="padding-bottom: 70px;">
            <figure>
              <img src="images/martin.jpg" alt="Image" class="img-fluid ">
            </figure>
            <h3 class="font-size-20 text-black">Martin Luther King, Jr.</h3>
            <!-- <div class="block-social-1">
              <a href="/martin" class="btn border-w-2 rounded primary-primary-outline--hover">Get Started</span></a>
            </div> -->
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-4 mb-lg-0" >
          <div class="block-team-member-1 text-center rounded mt-2">
            <figure>
              <img src="images/teresa.jpg" alt="Image" class="img-fluid ">
            </figure>
            <h3 class="font-size-20 text-black"> Mother Teresa</h3>
            <!-- <div class="block-social-1">
              <a href="/mother-teresa" class="btn border-w-2 rounded primary-primary-outline--hover">Get Started</span></a>
            </div> -->
          </div>
        </div>
    
  </div>
</div>
</div>


