
<div class="site-section bg-image overlay" style="background-image: url('images/04.jpg');" id="donate-section">
    <div class="container">
      <div class="row align-items-center justify-content-center">
        <div class="col-lg-7 text-center">
          <h4 class="text-white mb-4" data-aos="fade-up" data-aos-delay="300">What Is On Our Cross Wire</h4>
          <h2 class="text-white mb-4" data-aos="fade-up" data-aos-delay="400">To lay down another Foundation of Sustainable Peace </h2>
        </div>
      </div>
    </div>
</div>
<div class="site-section bg-light counter" id="discover-section">
    <div class="container">
      <div class="row mb-5 justify-content-center">
        <div class="col-md-7 text-center">
          <div class="block-heading-1">
            <h2 class="text-black text-uppercase" data-aos="fade-up" data-aos-delay="300">Introduction</h2>
            <p data-aos="fade-up" data-aos-delay="400">We Are Going To Have To Find Ways Of Organizing Ourselves Cooperatively…We Are Not Going To Be Able To Operate Our Spaceship Earth Successfully Nor For Much Longer Unless We See It As A Whole Spaceship And Our Fate As Common. It Has To Be Everybody Or Nobody.   — R. Buckminster Fuller </p>
          </div>
        </div>
      </div>
      <div class="row mb-5">

        <div class="col-lg-6 mb-5" data-aos="fade-right" data-aos-delay="300">
          <img src="images/hero_1_no-text.jpg" alt="Image" class="img-fluid">
        </div>
        <div class="col-lg-5 ml-auto align-self-center" data-aos="fade-left" data-aos-delay="300">
          <h3 class="text-black text-uppercase mb-4">What about us</h3>
          <p class="atag">For those of us who don’t have time to go through the full length of the write up, let me sum up our aim .</p>
            <p class="mb-5 ">-	First our energies are committed towards spreading the basic human values of loving, caring and 
                sharing, along with fair play competition among the youth, specially school students right from primary
                 school. By fair play, we mean, being socially responsible and competing with one’s own self rather than other, 
                 using the age 
                old wisdom of work hard and try to improve, and not to prove.</p>
        </div>
      </div>

      <div class="row">

        <div class="col-lg-6 mb-5 order-lg-2" data-aos="fade-left" data-aos-delay="300">
          <img src="images/hero_2_no-text.jpg" alt="Image" class="img-fluid">
        </div>
        <div class="col-lg-5 mr-auto align-self-center order-lg-1" data-aos="fade-right" data-aos-delay="300">
          <p >-	Second our energies are focused on spreading the message of peace, essentially, 
              Zero discrimination, zero hate and zero violence, through out the world and making it a peoples movement. 
              There is growing need to leave behind age old rivalries, animosities, and promote people to people interaction
               through Cultural / 
              Social exchanges with the aim of understanding and respecting the diversity in the other.</p>
              <p>- The third focus area is to wake up people to the fact that almost a billion people are facing a challenge to find a square 
                  meal a day. And after generating this awareness, ensuring set up of “ Bhandaras  / 
                  Public food distribution centers as part of human awakening and respect for fellow beings.</p>
        </div>
       
    </div>
    <div class="row">
        <div class="col-lg-12 mr-auto align-self-center order-lg-1">
            <p>
                - The fourth area is start a consciousness movement, on the basis of what has been amplified by the Book, 
                “ Unto this last”, by John Ruskin, which inspired Mahatma Gandhi to write the Book, “Sarvodaya”. in essence, 
                the world no longer needs mass production, 
                the world needs production by masses. Has any one ever thought why Coke and Pepsi, for that matter even 
                TATAs need to be involved in bottling business? There is acute need to attend to the need of Socially 
                responsible entrepreneurs, working on micro rural economies. Generating a healthy self sustaining economy 
                and also creating healthy environment to 
                live rather than migrate to cities to cater to the blue collared jobs, living in the new era Ghettos.
            </p>
        </div>
    </div>
  </div>
</div>
<div class="d-block d-md-flex intro-engage">
    <div class="">
        <h3>Our focus activities are aimed at two categories as under -
            -	Youth  </h3>
        <p>- 	Primarily school students. We call them “GREEN HORNS”</p>
    </div>
    <div>
        <h3>-	Socially conscious people. -	</h3>
        <p>
            -	Socially conscious people. -		The people across the globe with a zeal to spread the message of peace and participate in initiatives to make this happen. We call them ‘PATHFINDERS” for peace.
            </p>
    </div>
</div>
<div class="site-section bg-image overlay counter" style="background-image: url('images/hero_1_no-text.jpg');" id="about-section">
    <div class="container">
      <div class="row mb-5">
        <div class="col-lg-6 mb-4" data-aos="fade-right" data-aos-delay="300">
          <figure class="block-img-video-1" data-aos="fade">

              <img src="images/hero_1_no-text.jpg" alt="Image" class="img-fluid">
           
          </figure>
        </div>
        <div class="col-lg-5 ml-auto align-self-lg-center" data-aos="fade-left" data-aos-delay="300">
            <h3 class="text-black text-uppercase mb-4">GREEN HORNS - YOUTH / STUDENT PROGRAMS</h3>
          <p class="text-black mb-5">Towards making this a mass movement, Osgan Peace foundations aims at incorporating this in schools.  at primary level in two types of capsules.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 mb-4 col-lg-0 col-lg-12" data-aos="fade-up" data-aos-delay="300">
          <h3 class="atag" >Capsule A (Inner Quest) </h3>
          <p class="caption text-black">Basics of Mind Body equation. Aim is to provide the tool, sufficient enough for any one to take it up later any time, it becomes relevant. </p>
        </div>

        <div class="col-md-12 mb-4 col-lg-0 col-lg-12" data-aos="fade-up" data-aos-delay="400">
            <h3 class="atag">Capsule B (Living it)</h3>
            <p class="caption text-black">knowing to begin with through a experiential learning module. There can not be a better way of learning and imbibing for a life time through a real time experience</p>
            <p class="caption text-black">An educational system based on human values helps students to develop a holistic understanding of body, mind and soul. They learn that true happiness can only be found within, not in the ephemeral outside world.</p>
            <p class="caption text-black">Osgan Peace foundation is anchored on five human values: Truth, Right Conduct, Peace, Love and Nonviolence and peoples action for peace through these values.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="site-section">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-lg-6 mb-4 text-center" data-aos="fade-up" data-aos-delay="300">

          <h3 class="text-primary h4 mb-2">Truth</h3>
          <p>The search for truth requires discernment, intuition and introspection in a selfless manner. To practice truth means cultivating truthfulness, honesty and sincerity, self-analysis and purity, accuracy and fairness, fearlessness and integrity. When truth is ‘my truth’ and ‘your truth’ (i.e., subjective or relative), a child learns that there are many facets related to it. This truth can change and continue to change, according to experience, age, perspective, culture and belief system. However, when searching for a lasting truth that withstands relativity, the values of common sense, 
              intuition, justice, quest for knowledge, spirit of enquiry, and synthesis, are nurtured and enhanced.</p>
        </div>
        <div class="col-md-6 col-lg-6 mb-4 text-center" data-aos="fade-up" data-aos-delay="300">
          <h3 class="text-primary h4 mb-2">Right Conduct</h3>
          <p>Right Conduct has its roots in the Sanskrit word ‘Dharma’. This covers ethical guidelines, ethical behavior and moral righteousness. The saying “Do good, see good and be good” captures the essence and intent of this value. It is rooted in attitudes and habits inculcated from early childhood
               that mature into respect and adherence to the duties and responsibilities that come with one’s life circumstances.</p>
        </div>
        <div class="col-md-6 col-lg-6 mb-4 text-center" data-aos="fade-up" data-aos-delay="400">
          <h3 class="text-primary h4 mb-2">Peace</h3>
          <p>Everyone wants and seeks peace. World Peace can truly prevail only once individuals learn to be peaceful within themselves. This requires the capacity for introspection and self-awareness. Self-awareness enables one to become mindful of his or her thoughts, words and deed. True peace requires an inner balance regardless of profit or loss, success or failure, pain or pleasure. 
              To calm the mind and open the heart are essential steps to achieve this peace.</p>
        </div>

        <div class="col-md-6 col-lg-6 mb-4 text-center" data-aos="fade-up" data-aos-delay="400">
          <h3 class="text-primary h4 mb-2">Love</h3>
          <p>The human value of love can best be expressed as the all-pervading life energy. In other words, this value has nothing to do with emotion, passionate feeling, desire or attachment. It is being selfless and detached from mutual expectations. All major religions emphasize the importance of love. It is 
              <b>kindness, caring, sharing, empathy and compassion.</b>
          </p>
        </div>
        <div class="col-md-6 col-lg-6 mb-4 text-center" data-aos="fade-up" data-aos-delay="500">
          <h3 class="text-primary h4 mb-2">Nonviolence</h3>
          <p>Nonviolence is expressed, when all the human values are understood and practiced. Nonviolence is the 
              state of mind in which one recognizes the unity within the apparent diversity. It manifests itself as a
               non-violation of the laws of nature and respect for law and order. Nonviolence requires restraint 
               from consciously doing harmful actions, whether it is against oneself, others or nature as such. If 
               the ethical principles of nonviolence are embraced as a means to world peace – then we can find global
                harmony.
            <br>
            We appeal to all those who believe in humanism, above every other social ism, to come forward and join us to construct another 
            course of action, the road to peace by developing a people to people movement based on the universal values of respect for life, liberty, justice, solidarity, tolerance, human rights and equality between women and men. </p>
        </div>

      </div>
    </div>
  </div>
  <div class="site-section block-13 overlay bg-image" id="testimonials-section" data-aos="fade" style="background-image: url('images/hero_1_no-text.jpg');">
    <div class="container">
      
      <div class="block-testimony-1 ">
            
        <blockquote class="mb-4" data-aos="fade-up" data-aos-delay="300">
            <p>PATHFINDERS - SOCIALLY RESPONSIBLE PEOPLE SANS FRONTIERS ACROSS ALL HUMAN BARRIERS DESIROUS OF A PEACEFUL GLOBAL VILLAGE. 
            </p>
            <p>The action plan for people participating in the Osgan Peace Foundation people movement is governed by 4 parameters as under  </p>
        </blockquote>
      </div>

    </div>
  </div>
  <div class="site-section" id="blog-section">
    <div class="container">
      <div class="row mb-5">
        <div class="col-lg-12">
          <div>
            <a  class="mb-4 d-block atag" data-aos="fade-up" data-aos-delay="300"><img src="images/03.jpg" alt="Image" class="img-fluid rounded"></a>
            <h3 data-aos="fade-up" data-aos-delay="300"><a  >1. The first objective is Humanism above every thing else.</a></h3>
            
            <p data-aos="fade-up" data-aos-delay="300">Humanism is ethical. It affirms the worth, dignity and autonomy of the individual and the right of every human being to the greatest possible freedom compatible with the rights of others. Humanists have a duty of care to all of humanity including future generations. They are the values that permit us to live together in harmony, and personally contribute to peace. Human values are a tool to manage human relations and a tool for peace when the tension is high. 
                Towards this objective, no amount of work done to spread awareness on the universality of human values. </p>
            <p><b>In the Universal Declaration, we proclaimed that “everyone has the right to a standard of living adequate for the health and well-being of himself and of his family, including food, clothing, housing and medical care and necessary social services”.</b></p>
                <br>
            <h4 data-aos="fade-right" data-aos-delay="300">Let us give peace a chance.</h4>
          </div>
        </div>
      </div>

      <div class="row mb-5">
        <div class="col-lg-12">
          <div>
            <h3 data-aos="fade-up" data-aos-delay="300"><a  >2. The second objective is Experiential Learning, </a></h3>
            
            <p data-aos="fade-up" data-aos-delay="400">-	aim is spreading awareness and incorporating in schools students a capsule course of EXPERIENTIAL LEARNING, 
                in the field of mind and body schools class room basics, including Yoga and basics of meditation and outdoor 
                experiential learning exercise to ground exposure to human living conditions, which become breeding grounds of 
                violence and get exploited by megalomaniacs to enter the world of hate and violence never ever to return alive,
                 at best a human bomb is quickest salvation. .n is the only way out”. Osgans is committed to spreading the 
                 significance of across th cross section of the population with a considerable focus on the youth. The details
                  are covered in the GREEN HORN section, of course the ground work has to be executed by the adults. </p>
            <p data-aos="fade-up" data-aos-delay="400">
                Experiential moral learning emerges from the desire to spread good in the world for every person. We at osgans propose the idea of moral revolution, which was based on the thesis of free self-improvement.
            </p>
            <p data-aos="fade-up" data-aos-delay="400">(a) To increase participation experiential, with the aim learning loving , caring and sharing. <br>
                (b) To inculcate the habit of conscious analysis on a compassionate front, with special reference to willingness to change ones mind based on new experiences. 
                <br>
                (c) Develop a desire to step into the shoes of people whose lives are vastly different from our own to enter into the realm of empathetic being.</p>
          </div>
        </div>
      </div>
      <div class="row mb-5">
        <div class="col-lg-12" data-aos="fade-up" data-aos-delay="300">
          <div>
            <h3><a  >3. The third objective is focusing on socially responsible micro rural entrepreneurship, by spreading awareness on relevance of seeking and living a 
                peaceful life and identifying the road blocks. </a></h3>
            
            <p>Social entrepreneurship focuses on activities that make the world a better place to live in. They address various social issues. One such issue is rural development and eradication of poverty. One way to achieve this is through self-help groups.  </p>
            <p>
                Social entrepreneurship, is an approach to business that’s gaining popularity as <b>globalization</b> brings conversations about sustainability. It’s also leading more people to ask themselves, “What can I do for the world today?”Social entrepreneurship involves starting mission-based enterprises that dedicate some or even all of their profits toward furthering a cause—giving their customers a purpose behind every purchase.
            </p>
            <p>
                Social entrepreneurship is when you start a business as part of ones responsibilty to the society, altruistic entrepreneurship”, it’s broad and can include both non-profit organizations like
                <b>Doctors Without Borders,</b>  Social entrepreneurship can also include bricks-and-mortar establishments and 
                <b>online business ideas</b>. Socially responsibly  entrepreneurs are the people conscious of the other segments of the world and who start companies and organizations that are committed to giving back.
            </p>
            <p>
                Osgan peace Foundation focus as far as socially responsible Entrepreneurship is concerned may be summed as under 
            </p>
            <p>
                -		Creating jobs within the communities they care about, such as hiring local ex-convicts or ethically outsourcing production to communities in need of fair work and career development opportunities.
            </p>
            <p>
                -		Reducing their carbon footprint by planting trees or going out of their way to reduce carbon emissions throughout their entire supply chain and educating customers about the topic.
            </p>
            <p>
                -		Hosting workshops and people-development initiatives to teach skills and empower others to build better lives for themselves and their communities, especially those who have no where to go.
            </p>
            <h5 class="atag">Partnering with Corporate</h5>
            <p>
                while choosing to partner with the corporate sector, to help execute the “social” part of their responsibility, make sure we our homework before you reach out to ensure we pick companies who are truly committed and not those seeking to just meet the compliance.
            </p>
          </div>
        </div>
      </div>
      <div class="row mb-5" data-aos="fade-up" data-aos-delay="300">
        <div class="col-lg-12">
          <div>
            <h3><a  >4. The fourth objective is to make this a people’s movement.</a></h3>
            
            <p>Provide a platform for a people’s movement all over the world to engage in cultural exchange programs, purely with the aim of bridging the gaps between conflicting regions, conflicting ethnic groups, neighboring countries with the aim of taking pride in 
                understanding and taking proactive steps to erase the bitterness of the past.
            </p>
            <p>
                Action items planned for making this a people’s movement on our cross wire on immediate priority are given below -
                <br>
                (a)	Conduct peace marches / peace motor rallies in a relay where in participants from different countries with bitter back grounds, get engaged and reach out to break the myth. These rallies are aimed at zero discrimination, zero hate, zero violence. Humanism above every ism including religion. The aim is to demonstrate and establish the relevance of peaceful coexistence among traditional rivals and even age old sworn ethnic / religious/ socially diverse groups.
                <br>
                (b)	Commitment to environment : which means  care and concern for nature and all living beings.  Reuse / recycle to reduce the impact on the environment.   Planting trees is one major step.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
<%- contentFor('title') %>
What Is On Our Cross Wire
