
<div class="site-section bg-image overlay" style="background-image: url('images/04.jpg');" id="donate-section">
    <div class="container">
      <div class="row align-items-center justify-content-center">
        <div class="col-lg-10 text-center">
          <h2 class="text-white text-uppercase section-title" > What Is On Our Cross Wire</h2>

        </div>
      </div>
    </div>
</div>
<div class="site-section bg-light counter" id="discover-section">
    <div class="container">
      <div class="row mb-5 justify-content-center">
        <div class="col-md-7 text-center">
          <div class="block-heading-1">
            <h2 class="text-black text-uppercase" >Brief prelude</h2>
            <p class="italic" > Our Guiding principles close to our heart in everything we do </p>
          </div>
        </div>
      </div>
      <div class="row mb-5">

        <div class="col-lg-6 mb-5" >
          <img src="images/hero_1_no-text.jpg" alt="Image" class="img-fluid">
        </div>
        <div class="col-lg-5 ml-auto align-self-center" >
          <h3 class="text-black text-uppercase mb-4">Loving, Caring and Sharing</h3>
            <p class="mb-5 ">	“ We Are Going To Have To Find Ways Of Organizing Ourselves Cooperatively…We Are Not Going To Be Able To Operate Our Spaceship Earth Successfully Nor For Much Longer Unless We See It As A Whole Spaceship And Our Fate As Common. It Has To Be Everybody Or Nobody.”   — R. Buckminster Fuller , <br>Our primary guiding principle is firstly, towards, towards spreading a 
              culture of learning, practicing and living this basic human value set of loving, caring and sharing,
               along with fair play in competitions among the youth, specially school students right from primary school.
                By fair play, we mean, being socially responsible and competing with one’s own self rather than other,
               using the age old wisdom of work hard and try to improve, and not to prove.</p>
        </div>
      </div>

      <div class="row">

        <div class="col-lg-6 mb-5 order-lg-2">
          <img src="images/hero_2_no-text.jpg" alt="Image" class="img-fluid">
        </div>
        <div class="col-lg-5 mr-auto align-self-center order-lg-1" >
          <h3 class="text-black text-uppercase mb-4">Zero Discrimination, Zero Hate and Zero Violence</h3>
          <p >	The Second guiding principle is an extension of the human value set of “Loving the other, 
            like their is no other” and is defined or rather elaborated as pushing ones limits in understanding the other, before wanting to be understood, thus it is all about not only spreading awareness on practicing Zero discrimination, 
            zero hate and zero violence. Every Volunteer, is expected to practice to internalize this slogan.</p>
              
        </div>
    </div>
    <div class="row mb-5">
      <div class="col-lg-6 mb-5" >
        <img src="images/cause-5.jpg" alt="Image" class="img-fluid">
      </div>
      <div class="col-lg-5 ml-auto align-self-center">
        <h3 class="text-black text-uppercase mb-4">Why do people need to go hungry  - Campaign Hunger</h3>
        <p> The third guiding principle is  growing out of the fact that almost a billion people are facing a challenge to find a square meal a day, and so our focus is to sensitize people to this gory fault that we live with absolute care a damn attitude, or for some, well that is not really true. Towards, this end, each one of us, spends sizeable time on working out ways to address this, 
          basic issue of a square meal per being in any which way one can do, or get people to do. </p>
      </div>
      </div>
    <div class="row">

      <div class="col-lg-6 mb-5 order-lg-2">
        <img src="images/cause-2.jpg" alt="Image" class="img-fluid">
      </div>
      <div class="col-lg-5 mr-auto align-self-center order-lg-1" >
        <h3 class="text-black text-uppercase mb-4">Who decides whether we need mass production</h3>
        <p>
          The fourth guiding principle, is based on their is adequate on this earth for a man/s need but not for his greed. It is on the basis of what has been amplified by the Book, “ Unto this last”, by John Ruskin, which inspired Mahatma Gandhi to write the Book, “Sarvodaya”. in essence, the world no longer needs mass production, the world needs production by masses. Has any one ever thought why Coke and Pepsi, need to be involved in water bottling business and why water can not be bottled in every district or at least every province. There is acute need to attend to the need of Socially responsible entrepreneurs, working on micro rural economies. Generating a healthy self sustaining economy and also creating healthy environment to live rather than migrate to cities to cater to the blue collared jobs, living in the new era Ghettos.
      </p>
            
      </div>
    </div>
    
  </div>
</div>
<!-- <div class="site-section bg-light counter">
  <div class="container">
   
  </div>
</div> -->
<!-- <div class="d-block d-md-flex intro-engage">
    <div class="width50" >
        <h3>-	Youth -  </h3>
        <p>	Primarily school students. We call them “GREEN HORNS”</p>
    </div>
    <div class="width50">
        <h3>-	Socially conscious people -	</h3>
        <p>
            		The people across the globe with a zeal to spread the message of peace and participate in initiatives to make this happen. We call them ‘PATHFINDERS” for peace.
            </p>
    </div>
</div> -->
<div class="site-section bg-image overlay counter" style="background-image: url('images/hero_1_no-text.jpg');" id="about-section">
    <div class="container">
      <div class="row justify-content-center mb-5">
        <div class="col-md-10 text-center mb-5">
          <div class="block-heading-1">
            <h2 class="text-black text-uppercase" >Osgan Peace Foundation activities </h2>
            <p class="text-black mb-5">May be grouped under two broad categories  </p>
            <h3 class="text-black text-uppercase section-title">Activities under First category</h3>
          </div>
        </div>
      </div>
      <div class="row mb-5">
        <div class="col-lg-6 mb-4" >
          <figure class="block-img-video-1" data-aos="fade">
              <img src="images/cause-6.jpg" alt="Image" class="img-fluid">
          </figure>
        </div>
        <div class="col-lg-5 ml-auto align-self-lg-center">
            <h3 class="text-black text-uppercase mb-4">  GREEN HORNS - YOUTH / STUDENT PROGRAMS</h3>
          <p class="text-black mb-5">Towards making this a mass movement, Osgan Peace foundations aims at introducing these in schools, at primary level in two types of capsules.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 mb-4 col-lg-0 col-lg-12" >
          <h3 class="atag" >Capsule A  - Inner Quest</h3>
          <p class="caption text-black">Basics of Mind Body equation. Aim is to provide the tool, sufficient enough for any one to take it up later any time, it becomes relevant.  A basic user manual for one’s mind, to know how to handle or where to look for any mind/ stress related issue in later life as well.</p>
        </div>

        <div class="col-md-12 mb-4 col-lg-0 col-lg-12" >
            <h3 class="atag">Capsule B - Living it</h3>
            <p class="caption text-black">
              knowing to begin with through a experiential learning module. There can not be a better way of learning and imbibing for a life time through a real time experience. The aim of this to provide live experience in understanding human beings in different circumstances to be able to develop a better mechanism to understand and empathize. Become a better being with adequate compassion and benevolence.
              <br>
              An educational system based on human values helps students to develop a holistic understanding of body, mind and soul. They learn the basics of the users manual on one’s mind and how to unleash the true human potential.
            </p>
            
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="site-section">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-lg-6 mb-4 text-center" >

          <h3 class="text-primary h4 mb-2">Truth</h3>
          <p>The search for truth requires discernment, intuition and introspection in a selfless manner. To practice truth means cultivating truthfulness, honesty and sincerity, self-analysis and purity, accuracy and fairness, fearlessness and integrity. When truth is ‘my truth’ and ‘your truth’ (i.e., subjective or relative), a child learns that there are many facets related to it. This truth can change and continue to change, according to experience, age, perspective, culture and belief system. However, when searching for a lasting truth that withstands relativity, the values of common sense, 
              intuition, justice, quest for knowledge, spirit of enquiry, and synthesis, are nurtured and enhanced.</p>
        </div>
        <div class="col-md-6 col-lg-6 mb-4 text-center" >
          <h3 class="text-primary h4 mb-2">Right Conduct</h3>
          <p>Right Conduct has its roots in the Sanskrit word ‘Dharma’. This covers ethical guidelines, ethical behavior and moral righteousness. The saying “Do good, see good and be good” captures the essence and intent of this value. It is rooted in attitudes and habits inculcated from early childhood
               that mature into respect and adherence to the duties and responsibilities that come with one’s life circumstances.</p>
        </div>
        <div class="col-md-6 col-lg-6 mb-4 text-center" >
          <h3 class="text-primary h4 mb-2">Peace</h3>
          <p>Everyone wants and seeks peace. World Peace can truly prevail only once individuals learn to be peaceful within themselves. This requires the capacity for introspection and self-awareness. Self-awareness enables one to become mindful of his or her thoughts, words and deed. True peace requires an inner balance regardless of profit or loss, success or failure, pain or pleasure. 
              To calm the mind and open the heart are essential steps to achieve this peace.</p>
        </div>

        <div class="col-md-6 col-lg-6 mb-4 text-center" >
          <h3 class="text-primary h4 mb-2">Love</h3>
          <p>The human value of love can best be expressed as the all-pervading life energy. In other words, this value has nothing to do with emotion, passionate feeling, desire or attachment. It is being selfless and detached from mutual expectations. All major religions emphasize the importance of love. It is 
              <b>kindness, caring, sharing, empathy and compassion.</b>
          </p>
        </div>
        <div class="col-md-6 col-lg-6 mb-4 text-center" >
          <h3 class="text-primary h4 mb-2">Non - Violence</h3>
          <p>Nonviolence is expressed, when all the human values are understood and practiced. Nonviolence is the 
              state of mind in which one recognizes the unity within the apparent diversity. It manifests itself as a
               non-violation of the laws of nature and respect for law and order. Nonviolence requires restraint 
               from consciously doing harmful actions, whether it is against oneself, others or nature as such. If 
               the ethical principles of nonviolence are embraced as a means to world peace – then we can find global
                harmony.
            <br>
            We appeal to all those who believe in humanism, above every other social ism, to come forward and join us to construct another 
            course of action, the road to peace by developing a people to people movement based on the universal values of respect for life, liberty, justice, solidarity, tolerance, human rights and equality between women and men. </p>
        </div>

      </div>
    </div>
  </div> -->
  <!-- <div class="site-section block-13 overlay bg-image" id="testimonials-section" data-aos="fade" style="background-image: url('images/hero_1_no-text.jpg');">
    <div class="container">
      
      <div class="block-testimony-1 ">
            
        <blockquote class="mb-4" >
            <p>PATHFINDERS - SOCIALLY RESPONSIBLE PEOPLE SANS FRONTIERS ACROSS ALL HUMAN BARRIERS DESIROUS OF A PEACEFUL GLOBAL VILLAGE. 
            </p>
            <p>The action plan for people participating in the Osgans Peace Foundation people movement is governed by 4 parameters as under  </p>
        </blockquote>
      </div>

    </div>
  </div> -->
  <div class="site-section" id="blog-section">
    <div class="container">
      <div class="row justify-content-center mb-5">
        <div class="col-md-12 text-center mb-5">
          <div class="block-heading-1">
            <h3 class="text-black text-uppercase section-title mb-5">Activities under the second category </h3>
            <h2 class="text-black text-uppercase" >PATHFINDERS - SOCIALLY RESPONSIBLE PEOPLE ACROSS ALL HUMAN BARRIERS DESIROUS OF A 
              PEACEFUL GLOBAL VILLAGE. </h2>
              <p>The activities planned for people participating in the Osgan Peace Foundation people movement is as under </p>
          </div>
        </div>
      </div>
      <div class="row mb-5">
        <div class="col-lg-12">
          <div>
            <a  class="mb-4 d-block atag" ><img src="images/03.jpg" alt="Image" class="img-fluid rounded"></a>
            <h3 ><a  >1. To participate and promote the essence of “Humanism above every thing else”, and make this a people’s movement. </a></h3>
            
            <p >(a)	Provide a platform for a people’s movement all over the world to engage in cultural exchange programs, purely with the aim of bridging the gaps between conflicting regions, conflicting ethnic groups, neighboring countries with the aim of taking pride in understanding and taking proactive steps to erase the bitterness of the past. </p>
            <p>(b)	Conduct peace marches / peace motor rallies in a relay where in participants from different countries with bitter back grounds, get engaged and reach out to break the myth. These rallies are aimed at zero discrimination, zero hate, zero violence. Humanism above every ism including religion. The aim is to demonstrate and establish the relevance of peaceful coexistence among traditional rivals and even age old sworn ethnic / religious/ socially diverse groups.</p>
            <p>(c)	Commitment to environment : which means  care and concern for nature and all living beings.  Reuse / recycle to reduce the impact on the environment.   Planting trees is one major step.</p>
          </div>
        </div>
      </div>

      <div class="row mb-5">
        <div class="col-lg-12">
          <div>
            <h3 ><a  >2.	To participate and promote the essence of Experiential Learning, for better understanding through cultural exchange programs. </a></h3>
            
            <p >Experiential Learning for the Pathfinders, involves, spreading the awareness of actual physical interaction among diverse cultures both within the country and outside the country. </p>
            <p >
              The aim of these cultural exchange programs is to identify areas of diversity and similarity among diverse cultures. 
            </p>
            <p >Once the core areas are identified, take up small exercises to understand the culture and growing and fading of it due to modernization,  <br>
                
The first cultural program is planned during the month of October and the first experiential learning camp is planned in Trivandrum in Kerala.

                <br>
                Each state can subscribe to a maximum of 15 participants. The profile of the shortlisted candidates should be forwarded latest by 15 Jul 2020.</p>
          </div>
        </div>
      </div>
      <div class="row mb-5">
        <div class="col-lg-12" >
          <div>
            <h3><a  >3. 	To grow the socially responsible micro rural entrepreneurship, towards reducing the impact of migration to cities and rural development with a social front.</a></h3>
            
            <p>
              The Pathfinder aim to grow Social entrepreneurship to make the world a better place to live in. They address various social issues. One such issue is rural development and eradication of poverty. One way to achieve this is through self-help groups.  </p>
            <p>
              Social entrepreneurship, is an approach to business that’s gaining popularity as globalization brings conversations about sustainability. It’s also leading more people to ask themselves, “What can I do for the world today?”Social entrepreneurship involves starting mission-based enterprises that dedicate some or even all of their profits toward furthering a cause—giving their customers a purpose behind every purchase.
            </p>
            <p>
              Social entrepreneurship is when you start a business as part of ones responsibility to the society, altruistic entrepreneurship”. Social entrepreneurship can also include bricks-and-mortar establishments and online business ideas. Socially responsibly  entrepreneurs are the people conscious of the other segments of the world and who start companies and organizations that are committed to giving back.
            </p>
            <p>
              Osgan peace Foundation focus in this area is as under 
            </p>
            <p>
              - Creating jobs within the communities they care about, such as hiring local ex-convicts or ethically outsourcing production to communities in need of fair work and career development opportunities.
            </p>
            <p>
                -	Reducing their carbon footprint by planting trees or going out of their 	way to reduce carbon emissions throughout their entire supply chain and 	educating customers about the topic.
            </p>
            <p>
                -		Hosting workshops and people-development initiatives to teach skills 	and empower others to build better lives for themselves and their communities, 	especially those who have no where to go.
            </p>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="site-section bg-image overlay counter" style="background-image: url('images/hero_1_no-text.jpg');" id="about-section">
    <div class="container">
      <div class="row justify-content-center mb-5">
        <div class="col-md-7 text-center mb-5">
          <div class="block-heading-1">
            <h2 class="text-black text-uppercase" >Corporate Partnership </h2>
          </div>
        </div>
      </div>
      <div class="row mb-5">

        <div class="col-lg-12 ml-auto align-self-lg-center">
            <h3 class="text-black  mb-4">We aim to work with those companies, who we find socially inclined towards world socially responsible business practices and have a global peace perspective and towards this end the core focus areas for long term focus are as under</h3>
          <p class="text-black ">(a) Developing or building socially responsible entrepreneurship plat forms.</p>
          <p class="text-black ">(b) Adoption of villages for providing support in building them into socially responsible self sustaining micro economies. </p>
          <p class="text-black">(c) Companies which are promoting manufacturing by masses and not in to mass production.</p>
        </div>
      </div>
    </div>
  </div>
<%- contentFor('title') %>
What Is On Our Cross Wire
