
<div class="site-section bg-image overlay" style="background-image: url('images/hero_1_no-text.jpg');" id="donate-section">
    <div class="container">
      <div class="row align-items-center justify-content-center">
        <div class="col-lg-5 text-center">
          <h2 class="text-white text-uppercase section-title"  > Who Are We</h2>
          <h4 class="text-white mb-4"   >OSGANS PEACE FOUNDATION  </h4>
        </div>
      </div>
    </div>
</div>
<div class="site-section bg-light counter" style="padding: 10px;">
    <div class="container">
      <div class="row mb-5 justify-content-center">
        <div class="col-md-12 text-center">
          <img src="images/02.jpg" alt="Image" class="img-fluid mb-5">
        </div>
        <div class="col-md-7 text-center">
          <div class="block-heading-1"  >

            <h2 class="text-black text-uppercase">Brief prelude </h2>
            <p class="italic">“Everyone must be committed in the matter of peace, to do everything that they can ....Peace is the language we must speak.” — Pope Francis.</p>
          </div>
        </div>
      </div>
      <div class="row mb-5" >

        <div class="col-lg-12">
           
          <p class="mb-5">Osgans Peace Foundation is simply about peace – a most fundamental asset to 
              community building, to personal growth, and to the very survival of our planet. 
              At the heart of many faiths, practices, and cultures, advancing peaceful co-existence is
               essential to ensuring productive, meaningful lives socially responsible and 
              sustainable micro societies with humanism as the mantra towards one world one people. <br>
              When we ask any one as to what do we seek eventually, once our basic survival needs are met,
               then we need comfort, then we need luxury, eventually and invariably the answer is without exception,
                we all want peace. 
            <br>
            Today there is unprecedented literacy, yet the education does not seem to have brought us any goodness,
             but only mental restlessness and discontent instead. There has been tremendous growth in our material progress and technology, 
             but somehow we have not yet succeeded in bringing about peace and happiness or in overcoming suffering. 
             We can only conclude that there must be something seriously wrong with our progress and development, 
            and if we do not check it in time there could be disastrous consequences for the future of humanity. <br>
            Today there is rising concern about the present worldwide moral crisis among all humanitarians and the 
            need to making our societies more compassionate,
                What is peace, peace within and peace all around us. 
                So let look at it, if we are not at peace within us, 
                surely we are in bad company, then how can we be at peace with others. 

            </p>
          
        </div>
      </div>
  </div>
</div>
<div class="site-section block-13 overlay bg-image" id="testimonials-section" data-aos="fade" style="background-image: url('images/hero_1_no-text.jpg');">
    <div class="container">
      
      <div class="text-center mb-5">
        <h2 class="text-white text-uppercase section-title">Inner peace </h2>
      </div>

      <div class="block-testimony-1 ">
            
        <blockquote class="mb-4">
            <p >Which means we need to be at peace within us. Quite obviously, 
              if we can not be at peace with our selves, how can we be expected to be amicable, 
              decent and graceful in our conduct with others.  <br>
              To have inner peace, we need to re look at the upbringing of the children pre-teen age to begin with, 
              followed by teen age pressure to decide on a career, and high scores and a great deal expectation. 
            </p>
            <p >What is missing is a slight exposure and training in the form of a users manual to 
                operate this wonderful machine known as human being. All animals have 5 senses, 
                including human beings. Human beings have two additional attributes which separate us
                from rest of the animal kingdom, we have memory and imagination, both of which we have 
                ended up misusing. Our mind is nothing but a thought generating space. With the lack of 
                knowledge on how to control our mind. We end up using memories to fill us with a over dose of a
                ll the wrongs that the world and close friends and relatives have done to us. The other attribute 
                called imagination, we are over working by constantly weaving horror stories, a quick look will 
                reconfirm that almost none of our past horror stories have ever seen the light of the day. 
            </p>
            <p >
                What we need is to review, what could be done, can we subject our children in
                 to lesser academic burden, specially in the age of Google, where the information is waiting at the click of a key. And can we change the outlook of the 
                social structure where we stop analyzing people on the basis of their earning profile or bank balance alone. 
            </p>
            <p >Guess, our belief is we need to work to build a socially responsible self sustainable micro 
                economy based culture, with larger focus on rural areas, to ease the ghettoisation, if a may use
                 the word loosely for the constantly 
                growing slums to meet the growing needs of the cities to cut cost and find cheap workmen. </p>
            <p >Today knowing that nearly almost a billion people are struggling for 1 square meal a day. United Nations data, says, quote, 
                “ 821 million people World Hunger Day 2019. Today, some 821 million people suffer chronically from hunger.</p>
            <p >Look around the wars, the violence all around the world, and we are gracefully immune, 
                engrossed with day to day soap serials to keep our heads from going nuts.</p>
            <p >We surely can teach a few values of loving, caring and sharing at school level, get them to 
                see around the realities of the world.  None of us seem to have picked a wee bit of wisdom from Buddha, 
                however, we are deeply  engrossed in the pursuit of practice of his father,
                 Suddhodhana, who forbade his sun form seeing any reality of life.</p>
            <p >
                We aim to work with the school children in building selected and doubly 
                filtered for non misinterpretation a set values, towards inculcating values to become socially
                 responsible good human beings, 
                by human, we mean loving caring sharing, beyond all man made borders and barriers. 
            </p>
            <p >
                To conclude, Osgans Peace Foundation initiative is a peoples movement to 
                spread awareness among people to consider and analyze, the need of adopting and practicing a culture,
                 which makes us all proud of being good human beings, we owe it to the generations to come.
            </p>
            <p >
                This is clubbed under 

                Socially Responsible Experiential learning,
                ' which is focused on competing with one’s own self, with mantra of 
                improve, not prove, and understanding and practicing the basic concept of loving, 
                caring and sharing, and grow up thinking like a global being. 

            </p>
        </blockquote>
      </div>

    </div>
  </div>
  <div class="site-section" id="blog-section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-7 text-center mb-5 text-center" >
          <h2 class="text-black text-uppercase section-title">We at Osgans</h2>
          <p>The Story of an ‘Idea’ and its ‘Journey ’   </p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12" >
          <div>
            <a  class="mb-4 d-block atag"><img src="images/01.jpg" alt="Image" class="img-fluid rounded"></a>
            <h2><a  >The Story of an ‘Idea’ and its ‘Journey ’</a></h2>
            
            <p>While serving at UNAVEM and subsequently in MONUA, 
                in Angola in the year 1996 – 1997, one of the founder-member had a
                 series of discussions with the other armed forces veterans, followed by
                  socially responsible people from the civil society on the need to spreading
                   awareness on peace, starting a peoples movement, world over it is only the
                common man who faces the brunt. This lead to the “HOW” which resulted in 
                Osgans Peace Foundation becoming the platform, for the whole world to openly
                    discuss, share, and launch programs for sustainable peace, or rather a culture
                    with NO DISCRIMINATION, NO HATE, NO VIOLENCE, setting the past aside, in pursuit
                    of desire of every living being, messed up due to years of insecurity, 
                    manipulations of the weak, selfish megalomaniacs from time to time. to one 
                    and all on this earth. </p>
            <p>Many pacifists joined the group, and together efforts were made to
                 spread awareness on humanism and socially responsible self-sustainable micro-economies.  </p>
                 <p>‘Some’ turned into ‘Many’, when a few socially-inclined, highly motivated, 
                     and dedicated members from the civil streets joined and added dynamism to the group. 
                     This increase of members in the core group successfully formed Osgan Peace Foundation.  </p>
                    <p>Today, OPF stands tall as a humanistic organization that reflects community outreach programs 
                        and has the potential to carve out better places to live in. These programs successfully empower 
                        families, assist social unity, efficiently build models of development and proactively promote moral and
                         innovative leadership to the core. The organization leaves no stone unturned in embracing community, regional, 
                         national, 
                        and international peace building models thereby laying the foundation for the ethical and cohesive environment. </p>
            <p>
                OPF is robustly dedicated to preventing violent extremism by spreading awareness 
                about the social needles of mobilization towards violence. It has accomplished admirable 
                results in gaining knowledge alongside promoting community gratification on engagement and trust-building practices
            </p>
            <p><a href="#">Let us make the pursuit of peace, a choice of every being, 
                let the new slogan be no discrimination, no hate and no violence. Let us give a chance.</a></p>
                <br>
            <h3 data-aos="fade-right" data-aos-delay="500">Let our actions speak more than our words.</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
<%- contentFor('title') %>
What Are We 
